/* ==========================================================================
   WooCommerce Message styles - begin
   ========================================================================== */
.mkd-woocommerce-page {

	.woocommerce-message,
	.woocommerce-info,
	.woocommerce-error {
		position: relative;
		display: block;
		line-height: 43px;
		margin-bottom: 19px;
		list-style: none;
		background-color: transparent;
		border-bottom: 1px solid #eaeaea;

		&:last-of-type {
			margin-bottom: 49px;
		}

		.button.wc-forward {
			float: right;
			color: $first-main-color;
			background-color: transparent;
			padding: 0;
			line-height: 39px;

			&:hover {
				background-color: transparent;
				color: $first-main-color;
			}
		}
	}
}

/* ==========================================================================
   WooCommerce Message styles - end
   ========================================================================== */