@import "blocks/logo";
@import "blocks/main_menu";
@import "blocks/top_line";
@import "widgets/search";
@import "widgets/sections";
@import "widgets/banner";
@import "top-bar/top-bar";
@import "types/header-standard/_header-standard";
@import "types/header-standard-extended/_header-standard-extended";
@import "types/header-box/_header-box";
@import "types/header-minimal/_header-minimal";
@import "types/header-divided/_header-divided";
@import "types/header-centered/_header-centered";
@import "types/header-tabbed/_header-tabbed";
@import "types/header-vertical/_header-vertical";
@import "types/header-vertical-compact/_header-vertical-compact";
@import "types/mobile-header/_mobile-header";

$logo-area-height: 155px;
$menu-area-height: 100px;
$sticky-header-height: 60px;

.mkd-page-header {

	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 100%;
	z-index: 110;

	/* ==========================================================================
	#General header layout - start
	========================================================================== */
	a img {
		display: block;
	}

	.mkd-grid {
		height: 100%;

		.mkd-vertical-align-containers {
			padding: 0;
			@include mkdTransition(background-color 0.3s ease);
		}
	}

	/* ==========================================================================
	#General header layout - end
	========================================================================== */

	/* ==========================================================================
	#Logo area styles - start
	========================================================================== */
	.mkd-logo-area {
		height: $logo-area-height;
		overflow: hidden;
		position: relative;

		.mkd-logo-wrapper a {
			max-height: $logo-area-height*0.9;
		}
	}
	/* ==========================================================================
	#Logo area styles - end
	========================================================================== */

	/* ==========================================================================
	#Menu area styles - start
	========================================================================== */
	.mkd-menu-area {
		height: $menu-area-height;
		position: relative;
		@include mkdTransition(background-color 0.3s ease);

		.mkd-logo-wrapper a {
			max-height: $menu-area-height*0.9;
		}

		.mkd-position-right-inner {
			height: 100%;
		}
	}

	/* ==========================================================================
	#Menu area styles - end
	========================================================================== */

	/* ==========================================================================
	#Sticky header styles - start
	========================================================================== */
	.mkd-sticky-header {
		height: $sticky-header-height;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		-webkit-transform: translateY(-110%);
		transform: translateY(-110%);
		-webkit-transition: -webkit-transform 0.33s ease;
		transition: transform 0.3s ease;
		-webkit-backface-visibility: hidden;
		@include mkdBoxShadow(1px 1px 3px rgba(0, 0, 0, 0.1));

		&.header-appear {
			transform: translateY(0%);
		}

		.mkd-sticky-holder {
			height: 100%;
			background-color: #fff;
			position: relative;
			z-index: 2;

			@include mkdBoxSizing(border-box);
		}

		.admin-bar &.header-appear {
			top: 32px;
		}

		.mkd-position-left-inner,
		.mkd-position-right-inner {
			height: 100%;
		}

		.mkd-sticky-holder .mkd-logo-wrapper a {
			max-height: $sticky-header-height*0.9;
		}

		.mkd-sticky-right-widget-area {
			height: 100%;
			display: inline-block;
			vertical-align: middle;
			@include mkdClearfix;
		}

		.mkd-sticky-right-widget {
			display: table;
			height: 100%;
			float: left;
			margin-left: 15px;

			&.widget_mkd_side_area_opener:last-child {
				margin-right: 10px;
			}
		}

		.mkd-sticky-right-widget-inner {
			display: table-cell;
			vertical-align: middle;
		}

		.mkd-sticky-right {
			display: inline-block;
			vertical-align: middle;
		}

		.mkd-main-menu > ul > li > a,
		.mkd-main-menu > ul > li.mkd-active-item > a,
		.mkd-side-menu-button-opener,
		.mkd-search-opener {
			color: #2a2a2a;
			@include mkdTransition(opacity 0.3s ease);
		}

		.mkd-main-menu > ul > li:hover > a,
		.mkd-side-menu-button-opener:hover,
		.mkd-search-opener:hover {
			opacity: 0.8;
			color: #2a2a2a;
		}
	}

	/* ==========================================================================
	#Sticky header styles - end
	========================================================================== */

	/* ==========================================================================
	#Fixed header styles - start
	========================================================================== */
	.mkd-fixed-wrapper.fixed {
		width: 100%;
		position: fixed;
		left: 0px;
		top: 0px;
		-webkit-backface-visibility: hidden;
	}

	/* ==========================================================================
	#Fixed header - end
	========================================================================== */

	.mkd-search-opener {
		color: #465161;
		font-size: 24px;

		&:hover {
			color: #999999;
		}
	}

	.mkd-menu-area .mkd-search-opener .mkd-icon-font-elegant {
		position: relative;
		top: 4px;
	}
}

/* ==========================================================================
#Light header - begin
========================================================================== */

.mkd-light-header {

	.mkd-logo-area,
	.mkd-menu-area,
	.mkd-vertical-menu-area {
		//color: $header-light-color !important; //Beacause of inline color styles

		.mkd-main-menu-widget-area {
			.widget:not(.widget_mkd_woocommerce_dropdown_cart) {
				color: $header-light-color;

				p,
				a,
				span,
				i,
				.widgettitle {
					color: $header-light-color;
				}

				a {
					border-color: $header-light-color !important;
				}

				.mkd-btn:hover .mkd-btn-text {
					color: #222328 !important;
				}
			}

			.widget_mkd_woocommerce_dropdown_cart .mkd-cart-icon {
				color: $header-light-color;
			}
		}

		.mkd-light-logo {
			opacity: 1;
		}

		.mkd-dark-logo,
		.mkd-normal-logo {
			opacity: 0;
		}
	}

	.mkd-vertical-menu > ul > li > a,
	.mkd-vertical-area-widget-holder,
	.mkd-vertical-area-widget-holder a,
	.mkd-vertical-area-widget-holder a span {
		color: $header-light-color !important;
	}

	&.mkd-header-vertical-compact {
		.mkd-vertical-menu > ul > li > a,
		.mkd-vertical-area-widget-holder > div {
			border-color: rgba(255, 255, 255, 0.1);
		}
	}

	.mkd-page-header #lang_sel > ul > li > a {
		color: $header-light-color;
	}

	.widget_text.mkd-right-from-logo-widget {

		.mkd-iwt-icon-holder .mkd-icon-element,
		.mkd-icon-shortcode .lnr-pointer-right {
			color: $header-light-color !important;
		}

		span.mkd-icon-shortcode.circle {
			background-color: rgba(255, 255, 255, 0.3) !important;
		}

		.mkd-icon-shortcode.square {
			background-color: #404040 !important;
		}

		.mkd-icon-element {
			color: $header-light-color !important;
		}

		.mkd-iwt-title-holder h6 {
			color: $header-light-color;
		}

		.mkd-iwt-text-holder p {
			color: $header-light-color !important;
		}

		h6 {
			color: $header-light-color;
		}
	}
}

/* ==========================================================================
#Light header - end
========================================================================== */

/* ==========================================================================
#Dark header - begin
========================================================================== */

.mkd-dark-header {

	.mkd-logo-area,
	.mkd-menu-area,
	.mkd-vertical-menu-area {
		//color: $header-dark-color !important; //Because of inline color styles

		.mkd-main-menu-widget-area {
			color: $header-dark-color !important; //Beacause of inline color styles

			p,
			a,
			span,
			i,
			.widgettitle {
				color: $header-dark-color !important; //Beacause of inline color styles
			}

			.mkd-btn:hover .mkd-btn-text {
				color: #fff !important;
			}
		}

		.mkd-dark-logo {
			opacity: 1;
		}

		.mkd-normal-logo,
		.mkd-light-logo {
			opacity: 0;
		}
	}

	.mkd-vertical-menu > ul > li > a,
	.mkd-vertical-area-widget-holder,
	.mkd-vertical-area-widget-holder a,
	.mkd-vertical-area-widget-holder a span {
		color: $header-dark-color !important;
	}

	&.mkd-header-vertical-compact {
		.mkd-vertical-menu > ul > li > a,
		.mkd-vertical-area-widget-holder > div {
			border-color: rgba(0, 0, 0, 0.1);
		}
	}

	.mkd-page-header #lang_sel > ul > li > a {
		color: $header-dark-color;
	}

	.widget_text.mkd-right-from-logo-widget {

		.mkd-iwt-icon-holder .mkd-icon-element,
		.mkd-icon-shortcode .lnr-pointer-right {
			color: $header-dark-color !important;
		}

		span.mkd-icon-shortcode.circle {
			background-color: rgba(0, 0, 0, 0.3) !important;
		}

		.mkd-icon-element {
			color: $header-dark-color !important;
		}

		.mkd-iwt-title-holder h6 {
			color: $header-dark-color;
		}

		.mkd-iwt-text-holder p {
			color: $header-dark-color !important;
		}

		h6 {
			color: $header-dark-color;
		}
	}

}

/* ==========================================================================
#Dark header - end
========================================================================== */