$portfolio-gallery-layers: (
		background-overlay: 1,
		item-link: 2,
		item-content: 3
);

@import 'portfolio-types/standard';
@import 'portfolio-types/gallery';
@import 'portfolio-types/pinterest';
@import 'portfolio-types/masonry';
@import 'portfolio-types/simple';
@import 'portfolio-slider';

/* ==========================================================================
   Portfolio shortcode styles - begin
   ========================================================================== */

/* #General portfolio list styles - start
  ========================================================================== */
.mkd-portfolio-list-holder {
	height: 100%;
	font-size: 0px;

	article {
		position: relative;
		vertical-align: top;

		.mkd-ptf-item-image-holder {
			position: relative;

			a {
				display: block;
				text-align: center;
			}

			img {
				vertical-align: top;
				height: auto;
				max-width: 100%;
				backface-visibility: hidden;
			}
		}

		.mkd-like {
			color: #808080;

			&:after {
				content: '\e030';
				font-family: 'ElegantIcons';
				color: inherit;
			}

			&.liked:after {
				content: '\e089';
			}

		}

		.mkd-portfolio-video {
			position: absolute;
			width: 100%;
			top: 50%;
			text-align: center;
			font-size: 38px;
			color: #fff;

			@include mkdTransform(translateY(-50%));
		}

		.mkd-portfolio-video-inner {
			display: inline-block;
			height: 57px;
			width: 57px;
			line-height: 57px;
			border: 3px solid #fff;

			@include mkdBorderRadius(50%);
			@include mkdBoxSizing(border-box);

			span {
				margin-left: 1px;
			}
		}
	}

	article.mix {
		display: none;
		visibility: hidden;
	}
}

.mkd-portfolio-list-holder-outer.mkd-portfolio-gallery-hover {
	article {
		.mkd-ptf-item-title {
			position: relative;
			color: #fff;
		}

		.mkd-ptf-item-title,
		.mkd-like {
			z-index: 3;
		}

		.mkd-ptf-item-image-holder {
			overflow: hidden;

			img {
				backface-visibility: visible;
			}
		}

		.mkd-portfolio-link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.mkd-ptf-item-text-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			opacity: 0;
			background-color: rgba(0, 0, 0, 0.8);

			@include mkdTransition(opacity 0.5s cubic-bezier(.38,.76,0,.87));
		}

		.mkd-ptf-item-text-overlay-inner {
			@include mkdTableLayout;
		}

		.mkd-ptf-item-text-holder {
			display: table-cell;
			vertical-align: middle;
			padding: 15px; //prevent title from spreading the whole lenght of its container
		}

		.mkd-ptf-wrapper:hover {
			.mkd-ptf-item-text-overlay {
				opacity: 1;
			}
		}

		.mkd-ptf-item-icons-holder {
			margin: 10px 0;
		}
	}
}

.mkd-portfolio-list-holder-outer.mkd-ptf-with-spaces {
	.mkd-portfolio-list-holder {
		line-height: 0;
		text-align: justify;

		article {
			//reset portfolio item's typography
			font-size: $default-text-size;
			line-height: $default-text-line-height;
			text-align: left;
		}

		.mkd-ptf-item-image-holder img {
			backface-visibility: visible;
		}

		.mkd-ptf-gap {
			display: inline-block;
		}
	}
}

/* General portfolio list styles - end
   ========================================================================== */

/* #Portfolio grid styles - start
  ========================================================================== */
.mkd-portfolio-list-holder-outer {

	&.mkd-ptf-three-columns {
		article {
			width: 33.33%;
		}
	}

	&.mkd-ptf-four-columns {
		article {
			width: 25%;
		}
	}

	&.mkd-ptf-five-columns {
		article {
			width: 20%;
		}
	}

	&.mkd-ptf-six-columns {
		article {
			width: 16.66%;
		}
	}
}

/* Portfolio grid styles - end
   ========================================================================== */

/* #Portfolio filters styles - start
  ========================================================================== */
.mkd-portfolio-filter-holder {
	margin: 0 0 40px;

	&.left {
		 text-align: left;
	 }

	&.center {
		text-align: center;
	}

	&.right {
		text-align: right;
	}

	.mkd-portfolio-filter-holder-inner {

		ul {
			list-style: none;
			vertical-align: middle;
			padding: 0;
			margin: 0;
		}

		ul li {
			cursor: pointer;
			display: inline-block;
			margin: 0;
			padding: 0 15px;

			font-family: $headings-font-family;
			text-transform: uppercase;
			font-weight: 700;
			color: $default-text-color;
			font-size: 12px;

			@include mkdTransition(color 0.15s ease-in-out);

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		ul li.active,
		ul li.current,
		ul li:hover {
			color: $first-main-color;
		}
	}

	&.light {
		.mkd-portfolio-filter-holder-inner {
			ul li {
				color: #a1a0a0;
			}

			ul li.active,
			ul li.current,
			ul li:hover {
				color: $first-main-color;
			}
		}
	}
}

/* Portfolio filters styles - end
   ========================================================================== */

/* #Portfolio Load More Button - start
  ========================================================================== */
.mkd-portfolio-list-holder-outer .mkd-ptf-list-paging {
	text-align: center;
	margin: 75px 0 0 0;
	min-height: 46px;
}

/* Portfolio Load More Button - end
   ========================================================================== */


/* #Portfolio List Appear Effect - start
  ========================================================================== */
.mkd-portfolio-list-holder-outer.mkd-appear-effect{
	article {
		visibility: hidden;

		.touch & {
			visibility: visible;
		}

		.no-touch & {
			visibility: visible;
			opacity:0;
			@include mkdTransform(scale(.85));


			&.mkd-appeared {
				-webkit-transition: opacity 1.85s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform .85s cubic-bezier(0.23, 1, 0.32, 1);
				transition: opacity 1.85s cubic-bezier(0.23, 1, 0.32, 1), transform .85s cubic-bezier(0.23, 1, 0.32, 1);
				opacity:1;
				@include mkdTransform(scale(1));
			}
		}
	}
}

/* Portfolio List Appear Effect - end
   ========================================================================== */

/* ==========================================================================
   Portfolio styles - end
   ========================================================================== */