/* Portfolio standard styles - begin
   ========================================================================== */
.mkd-portfolio-list-holder-outer.mkd-ptf-standard {
	.mkd-portfolio-list-holder {
		margin: 0 -15px;
		font-size: 0;
	}

	article {
		padding: 0 15px 16px;
		@include mkdBoxSizing(border-box);
	}

	.mkd-ptf-item-image-holder {
		.mkd-portfolio-standard-overlay {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			background-color: $first-main-color;

			@include mkdTransition(opacity 0.4s cubic-bezier(.38,.76,0,.87));
		}

		.mkd-portfolio-lightbox {
			position: absolute;
			top: 0%;
			left: 0%;
			height: 100%;
			width: 100%;

			.mkd-overlay-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				@include mkdTransform(translate(-50%,-50%));
				font-size: 80px;
				color: #fff;

				> i {
					display: block;
					opacity: 0;
					@include mkdTransform(rotate(45deg) translateY(50px));
					-webkit-transition: -webkit-transform 0s cubic-bezier(.38,.76,0,.87) .4s, opacity .3s;
					transition: transform 0s cubic-bezier(.38,.76,0,.87) .4s, opacity .3s;
				}
			}
		}

		&:hover .mkd-portfolio-standard-overlay {
			opacity: 1;
		}
	}

	.mkd-ptf-item-text-holder {
		padding: 14px 0 14px;
	}

	.mkd-ptf-item-excerpt {
		margin-top: 15px;
	}

	.mkd-ptf-category-holder {
		font-family: $default-font-family;
		color: $default-text-color;
		font-weight: 500;
		font-size: 12px;
	}

	&.mkd-ptf-light {
		.mkd-ptf-item-title, .mkd-ptf-category-holder {
			color: #fff;
		}

		.mkd-ptf-item-excerpt {
			color: #bdbdbd;
		}

	}

	&:not(.mkd-ptf-boxed) { 
		article {
			.mkd-ptf-item-image-holder {
				overflow: hidden;
				
				img {
					@include mkdTransition(all .2s ease-out);
					-webkit-backface-visibility: hidden;
				}

				&:hover {
					img {
						@include mkdTransform(scale(1.3));
						@include mkdTransition(all .4s ease);
					}

					.mkd-overlay-icon {
						> i {
							opacity: 1;
							-webkit-transition: -webkit-transform 0.4s cubic-bezier(.38,.76,0,.87);
							transition: transform 0.4s cubic-bezier(.38,.76,0,.87);
							@include mkdTransform(rotate(45deg) translateY(0px));
						}
					}
				}
			}
		}	
	}

	&.mkd-ptf-boxed {

		article {
			padding: 0 15px 30px;

			.mkd-portfolio-standard-item {
				background-color: #fff;

				@include mkdBoxShadow(0 1px 1px rgba(31, 35, 37, 0.1));
				@include mkdTransition(all 0.3s ease);

				&:hover {
					@include mkdTransform(translate3d(0,-6px,0));
					@include mkdBoxShadow(5px 8.66px 30px 0 rgba(31, 35, 37, .078));
				}
			}

			.mkd-ptf-item-text-holder {
				padding: 26px 35px 25px;
			}
		}

		&.mkd-ptf-boxed-dark {
			article {
				.mkd-ptf-item-title {
					color: #fff;
					@include mkdTransition(opacity 0.3s ease);

					&:hover {
						opacity: 0.9;
					}

					a:hover {
						color: #fff;
					}
				}

				.mkd-ptf-item-excerpt, .mkd-ptf-category-holder {
					color: #c1c1c1;
				}

				.mkd-portfolio-standard-item {
					background-color: #313135;
				}
			}
		}
	}
}

/* Portfolio standard styles - end
   ========================================================================== */