.mkd-blog-list-holder {

	//masonry - style for this type is added to scss/blog/list/types/_masonry.scss file with Blog masonry template style

	&.mkd-minimal {
		margin: 0 -20px;

		.mkd-blog-list-item {
			width: 25%;
			display: inline-block;
			float: left;
			padding: 0 20px;
			margin-bottom: 42px;

			@include mkdBoxSizing(border-box);

			&:nth-child(4n+1) {
				clear: both;
			}

			.mkd-excerpt {
				margin-top: 19px;
				font-weight: 500;
			}

			.mkd-item-date {
				margin-top: 18px;
				font-weight: 600;
				color: #ababab;
			}
		}
	}

	&.mkd-image-in-box {
		.mkd-blog-list-item {
			.mkd-item-image {
				float: left;
			}

			.mkd-item-text-holder {
				padding-left: 180px;
			}
		}
	}

	&.mkd-simple {
		margin: 0 -47px;

		.mkd-blog-list-row {
			margin: 54px 0;
			overflow: hidden;
		}

		.mkd-blog-list-item {
			padding: 0 47px;
			position: relative;
			width: 33.333%;
			display: inline-block;
			float: left;

			@include mkdBoxSizing(border-box);

			&:nth-child(3n+1) {
				clear: both;
			}

			&:after {
				content: '';
				width: 1px;
				height: 99999px;
				position: absolute;
				right: 0;
				top: 0;
				background-color: #d7dde3;
			}

			&:nth-child(3n):after {
				background-color: transparent;
			}

			&:last-child:after {
				background-color: transparent;
			}

			.mkd-post-info-category {
				margin-top: 4px;

				a {
					display: inline-block;
					margin-right: 10px;
					text-transform: uppercase;
					font-weight: 600;
					font-family: $headings-font-family;
				}
			}

			.mkd-blog-list-title {
				margin-top: 7px;
				line-height: 30px;
			}

			.mkd-bl-item-excerpt {
				margin: 16px 0;
			}

			.mkd-avatar-date-author {
				margin-top: 37px;

				.mkd-avatar {
					float: left;

					a {
						display: block;
						height: 50px;
						width: 50px;
						overflow: hidden;

						@include mkdBorderRadius(50%);
					}
				}

				.mkd-date-author {
					padding-left: 67px;

					.mkd-date {
						font-weight: 600;
						line-height: 21px;
						color: #ababab;
						font-family: $headings-font-family;
					}

					.mkd-author {
						font-weight: 600;
						color: #545454;
						font-family: $headings-font-family;

						a {
							line-height: 29px;
							color: #545454;

							&:hover {
								color: $first-main-color;
							}
						}
					}
				}
			}
		}

		&.boxed {
			margin: 0;

			.mkd-blog-list {
				background-color: #fff;
				border: 1px solid #e1e6eb;

				@include mkdBoxShadow(1px 2px 9px 1px rgba(0, 0, 0, 0.09));
			}
		}

		&.dark {
			.mkd-blog-list {
				background-color: #313135;
				border: 0;

				.mkd-blog-list-item {
					&:after {
						background-color: #4a4b4f;
					}

					&:nth-child(3n):after {
						background-color: transparent;
					}

					&:last-child:after {
						background-color: transparent;
					}

					.mkd-blog-list-title {
						&, a {
							color: #fff;
							@include mkdTransition(opacity 0.25s ease);
						}

						&:hover {
							opacity: 0.9;
						}
					}

					.mkd-bl-item-excerpt {
						color: #c1c1c1;
					}

					.mkd-avatar-date-author .mkd-date-author {
						.mkd-author {
							color: #fff;

							a {
								color: #fff;

								@include mkdTransition(opacity 0.25s ease);

								&:hover {
									opacity: 0.9;
								}
							}
						}

						.mkd-date {
							color: #c1c1c1;
						}
					}
				}
			}
		}
	}
}