/* ==========================================================================
   Blockquote shortcode start styles
   ========================================================================== */
blockquote {
	position: relative;
	display: table;
	margin:45px 0 45px 0;
	padding:4px 0;

	.mkd-icon-quotations-holder {
		display: table-cell;
		width: 1%;
		padding: 0 10px 0 15px;
		font-size: 60px;
		line-height: 60px;
		font-weight: 400;
		color: $first-main-color;
	}

	.mkd-blockquote-text {
		display: table-cell;
		vertical-align: top;
		font-weight: 500;
		font-size:18px;
		color: $headings-text-color;
		line-height: 1.83em;
		padding-left: 32px;
		font-family: $default-font-family;

		&:after {
			content: '';
			display: block;
			left: 0;
			position: absolute;
			top: 0;
			width: 6px;
			height: 100%;
			background-color: $first-main-color;
		}
	}
}

/* ==========================================================================
   Blockquote shortcode end styles
   ========================================================================== */