.mkd-btn {
	display: inline-block;
	position: relative;
	outline: none;
	padding: 14.5px 36px;
	font-style: normal;
	font-weight: 600;
	font-family: $headings-font-family;
	font-size: 14px;
	line-height: 1.7em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.9px;

	cursor: pointer;

	@include mkdTransition(color 0.25s ease-out, background-color 0.25s ease-out, border-color 0.25s ease-out);
	@include mkdBoxSizing(border-box);
	@include mkdBorderRadius(2px);

	.mkd-btn-icon-holder {
		.mkd-btn-icon-elem {
			vertical-align: middle;
		}
	}

	.mkd-btn-icon-holder,
	.mkd-btn-text {
		position: relative;
		z-index: 2;
	}

	&.mkd-btn-icon .mkd-btn-text {
		margin-right: 6px;
	}

	.mkd-btn-helper {
		position: absolute;
		z-index: 1;

		@include mkdTransition(all 0.25s ease-out);
	}

	/* #Button types styles - start
	   ========================================================================== */
	&.mkd-btn-solid {
		background-color: $first-main-color;
		border: 2px solid $first-main-color;
		color: #fff;
	}

	&.mkd-btn-outline {
		border: 2px solid $first-main-color;
		color: $first-main-color;
		background-color: transparent;
	}

	&.mkd-btn-white {
		border: 2px solid #fff;
		background-color: #fff;
	}

	&.mkd-btn-white-outline {
		border: 2px solid #fff;
		background-color: transparent;
		color: #fff;
	}

	&.mkd-btn-black {
		border: 2px solid #303030;
		color: #fff;
		background-color: #303030;
	}

	&.mkd-btn-underline {
		padding: 0;
		min-width: 0;
		line-height: 1.4em;
		letter-spacing: 0;

		&:hover .mkd-btn-underline-line {
			width: 100%;
		}

		.mkd-btn-underline-line {
			background-color: $first-main-color;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 0;
			position: absolute;

			@include mkdTransition(width 0.3s ease);
		}
	}

	/* #Button types styles - end
	   ========================================================================== */

	/* #Button hover types styles - start
    ========================================================================== */
	&.mkd-btn-hover-outline {
		&:not(.mkd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: $first-main-color !important;
		}

		&:not(.mkd-btn-custom-hover-bg):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: transparent !important;
		}

		&:not(.mkd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: $first-main-color !important;
		}
	}

	&.mkd-btn-hover-solid {
		&:not(.mkd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: #fff !important;
		}

		&:not(.mkd-btn-custom-hover-bg):not(.mkd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: #56db96 !important;
		}

		.mkd-btn-helper {
			background-color: #56db96;
		}

		&:not(.mkd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: #56db96 !important;
		}
	}

	&.mkd-btn-hover-white {
		&:not(.mkd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: $first-main-color !important;
		}

		&:not(.mkd-btn-custom-hover-bg):not(.mkd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: #fff !important;
		}

		.mkd-btn-helper {
			background-color: #fff;
		}

		&:not(.mkd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: #fff !important;
		}
	}

	&.mkd-btn-hover-white-outline {
		&:not(.mkd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: #fff !important;
		}

		&:not(.mkd-btn-custom-hover-bg):not(.mkd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: transparent !important;
		}

		&:not(.mkd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: #fff !important;
		}
	}

	&.mkd-btn-hover-black {
		&:not(.mkd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: #fff !important;
		}

		&:not(.mkd-btn-custom-hover-bg):not(.mkd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: #303030 !important;
		}

		.mkd-btn-helper {
			background-color: #303030;
		}

		&:not(.mkd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: #303030 !important;
		}
	}

	/* #Button hover types styles - end
	========================================================================== */

	/* #Button sizes styles - start
	   ========================================================================== */
	&.mkd-btn-small {
		font-size: 12px;
		padding: 12px 32px 10px;
		min-width: 95px;

		font-weight: 600;

		&.mkd-btn-icon .mkd-btn-text {
			margin-right: 2px;
		}
	}

	&.mkd-btn-medium {
		//same as default
		min-width: 145px;
	}

	&.mkd-btn-large {
		font-size: 16px;
		padding: 14.5px 50px;
		min-width: 165px;
	}

	&.mkd-btn-huge {
		min-width: 190px;
	}

	&.mkd-btn-huge,
	&.mkd-btn-huge-full-width {
		font-size: 20px;
		padding: 20px 60px 16px;
	}

	&.mkd-btn-huge-full-width {
		display: block;
		text-align: center;
		padding: 40px 60px 35px;
	}
	/* #Button sizes styles - end
	   ========================================================================== */

	/* #Hover animations - start
	   ========================================================================== */
	&.mkd-btn-fill-from-top {
		.mkd-btn-helper {
			width: 100%;
			height: 0;
			top: 0;
			left: 0;
		}

		&:hover .mkd-btn-helper {
			height: 100%;
		}
	}

	&.mkd-btn-fill-from-left {
		.mkd-btn-helper {
			width: 0;
			height: 100%;
			top: 0;
			left: 0;
		}

		&:hover .mkd-btn-helper {
			width: 100%;
		}
	}

	&.mkd-btn-fill-from-right {
		.mkd-btn-helper {
			width: 0;
			height: 100%;
			top: 0;
			right: 0;
		}

		&:hover .mkd-btn-helper {
			width: 100%;
		}
	}

	/* #Hover animations - end
	   ========================================================================== */
}