.mkd-card-slider-holder {
	.mkd-card-slider {
		opacity: 0;

		&.appeared {
			opacity: 1;
		}

		.slick-list {
			padding-bottom: 30px;
			margin-bottom:-30px;
		}
	}

	.mkd-card-slide {
		padding: 0 15px;
		margin: 6px 0 10px 0;

		.mkd-card-slide-inner {
			background-color: #fff;

			@include mkdBoxShadow(0px 1px 3px rgba(0, 0, 0, 0.08));
			@include mkdTransition(all 0.3s ease-in-out);

			&:hover {
				@include mkdTransform(translate3d(0,-6px,0));
				@include mkdBoxShadow(5px 8.66px 30px 0 rgba(31,35,37,.078));
			}
		}

		.mkd-card-image img {
			display: block;
			margin: 0 auto;
		}

		.mkd-card-content {
			padding: 31px 33px;

			.mkd-card-title, .mkd-card-subtitle, .mkd-card-text {
				margin: 0;
			}

			.mkd-card-subtitle {
				font-weight: 600;
				color: #a7b0be;
				margin-top: 6px;
			}

			.mkd-card-text {
				margin: 15px 0 21px;
			}
		}
	}
}