.mkd-iwt {
	$icon-tiny-content-padding: 15px;
	$icon-small-content-padding: 35px;
	$icon-medium-content-padding: 65px;
	$icon-large-content-padding: 105px;
	$icon-huge-content-padding: 135px;

	.mkd-iwt-custom-icon {
		display: inline-block;
		line-height: 0;
	}

	.mkd-iwt-title {
		line-height: 1.46em;
	}

	&.mkd-iwt-icon-top,
	&.mkd-iwt-icon-left,
	&.mkd-iwt-icon-left-from-title {
		text-align: left;
	}

	&:not(.mkd-iwt-left-from-title) {
		.mkd-iwt-content-holder {
			margin-top:-3px;
		}

		.mkd-iwt-title-holder {
			margin-top: 21px;
			margin-bottom: 10px;
			text-transform: capitalize;
		}

		.mkd-iwt-text-holder {
			margin-top: 15px;
		}
	}

	&.mkd-iwt-icon-left {
		.mkd-iwt-icon-holder {
			float: left;
		}

		&.mkd-iwt-icon-tiny .mkd-iwt-content-holder {
			padding-left: $icon-tiny-content-padding;
		}

		&.mkd-iwt-icon-small .mkd-iwt-content-holder {
			padding-left: $icon-small-content-padding;
		}

		&.mkd-iwt-icon-medium .mkd-iwt-content-holder {
			padding-left: $icon-medium-content-padding;
		}

		&.mkd-iwt-icon-large .mkd-iwt-content-holder {
			padding-left: $icon-large-content-padding;
		}

		&.mkd-iwt-icon-huge .mkd-iwt-content-holder {
			padding-left: $icon-huge-content-padding;
		}

		.mkd-iwt-title-holder {
			margin-top:0;
			margin-bottom:15px;

			.mkd-iwt-title {
				margin-top:0;
			}
		}

		.mkd-iwt-text-holder {
			margin-top:0;

			> p {
				margin-top:0;
			}
		}
	}

	&.mkd-iwt-icon-right {
		text-align: right;

		.mkd-iwt-icon-holder {
			float: right;
		}

		&.mkd-iwt-icon-tiny .mkd-iwt-content-holder {
			padding-right: $icon-tiny-content-padding;
		}

		&.mkd-iwt-icon-small .mkd-iwt-content-holder {
			padding-right: $icon-small-content-padding;
		}

		&.mkd-iwt-icon-medium .mkd-iwt-content-holder {
			padding-right: $icon-medium-content-padding;
		}

		&.mkd-iwt-icon-large .mkd-iwt-content-holder {
			padding-right: $icon-large-content-padding;
		}

		&.mkd-iwt-icon-huge .mkd-iwt-content-holder {
			padding-right: $icon-huge-content-padding;
		}
	}

	&.mkd-iwt-left-from-title {
		.mkd-iwt-icon-title-holder {
			margin-bottom: 12px;
		}

		.mkd-iwt-icon-holder,
		.mkd-iwt-title-holder {
			display: inline-block;
			vertical-align: middle;
		}
	}
}