/* ==========================================================================
# Pricing table style - begin
========================================================================== */

.mkd-pricing-tables.mkd-two-columns .mkd-price-table {
	width: 50%;
}

.mkd-pricing-tables.mkd-three-columns .mkd-price-table {
	width: 33.33%;

	.mkd-price-table-inner {
		padding-top: 70px;
		padding-bottom: 37px;

		.mkd-table-title {
			margin-top: 32px;
		}

		.mkd-title-content {
			font-weight: 700;
		}
	}
}

.mkd-pricing-tables.mkd-four-columns .mkd-price-table {
	width: 25%;

	.mkd-price-table-inner {
		padding-top: 47px;
		padding-bottom: 21px;

		.mkd-price-in-table {
			.mkd-price-currency {
				font-size: 45px;

				.mkd-currency {
					font-size: 21px;
					top: 2px;
					margin-right: 5px;
				}
			}
		}

		.mkd-pt-price-period {
			font-size: 12px;
		}

		.mkd-table-content {
			margin-top: 24px;

			> ul > li {
				padding: 7px;
				font-size: 12px;
				font-weight: 600;
			}
		}

		.mkd-price-button {
			margin-top: 21px;
		}
	}
}

.mkd-price-table {
	position: relative;
	width: 100%;
	padding: 0;
	padding: 0 15px;
	float: left;

	@include mkdBoxSizing(border-box);

	&:first-child {
		margin-left: 0;
	}
}

.mkd-price-table .mkd-price-table-inner {
	background-color: #fff;
	text-align: center;
	padding-top: 72px;
	padding-bottom: 36px;
	position: relative;

	@include mkdBoxSizing(border-box);

	@include mkdBoxShadow(0 1px 1px rgba(31, 35, 37, 0.1));
	@include mkdTransition(box-shadow 0.3s ease, transform 0.3s ease);

	&:hover {

		@include mkdTransform(translateY(-4px));
		@include mkdBoxShadow(5px 8.66px 30px 0 rgba(31, 35, 37, .078));
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.mkd-table-title {
		margin-top: 21px;

		.mkd-title-content {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.mkd-price-in-table {
		color: $first-main-color;
		font-family: $headings-font-family;

		.mkd-price-currency {
			font-size: 60px;
			font-weight: 300;
			display: inline-block;
			position: relative;

			.mkd-currency {
				font-size: 30px;
				position: absolute;
				margin-right: 6px;
				right: 100%;
				top: -2px;
			}
		}
	}

	.mkd-pt-price-period {
		color: #ababab;
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 4px;
	}

	.mkd-table-content {
		margin-top: 40px;
		font-size: 16px;
		font-weight: 500;
		color: #6a767e;
		line-height: 30px;
		border-top: 1px solid #eff2f4;

		> ul > li {
			padding: 13px;
			border-bottom: 1px solid #eff2f4;

			&:nth-child(odd) {
				background-color: #f9f9f9;
			}
		}
	}

	.mkd-price-button {
		margin-top: 29px;
	}
}

.mkd-price-table.mkd-pt-active .mkd-active-label {
	position: absolute;
	top: 0;
	right: 0;
	width: 62px;
	height: 58px;
	overflow: hidden;

	.mkd-active-label-inner {
		height: 50px;
		width: 100px;
		background-color: $first-main-color;
		position: absolute;
		top: -12px;

		@include mkdTransform(rotate(43deg));
	}
}

.mkd-price-table.mkd-pt-active .mkd-active-label:before {
	content: '\e033';
	font-family: 'ElegantIcons';
	position: absolute;
	right: 11px;
	top: 3px;
	color: #fff;
	font-size: 16px;
	z-index: 11;

}

/* ==========================================================================
# Pricing table style - end
========================================================================== */