@include large-laptop {
	.mkd-pl-holder.woocommerce.masonry {
		&.mkd-six-columns, &.mkd-five-columns {
			.mkd-product-list-masonry-grid-sizer,
			.mkd-pl-item {
				width: 25%;
			}
		}

		&.mkd-six-columns, &.mkd-five-columns {
			.affinity_mikado_large_width,
			.affinity_mikado_large_width_height {
				width: 50%;
			}
		}
	}
}

@include laptop-landscape {
	.mkd-pl-holder {
		&.mkd-six-columns, &.mkd-five-columns {
			.mkd-pl-item {
				width: 25%;

				@include ipad-portrait-min {
					&:nth-child(4n+1) {
						clear: both;
					}
				}
			}
		}
	}
}

@include ipad-landscape {
	.mkd-pl-holder.woocommerce.masonry {
		&.mkd-six-columns, &.mkd-five-columns, &.mkd-four-columns {
			.mkd-product-list-masonry-grid-sizer,
			.mkd-pl-item {
				width: 33.3333%;
			}
		}

		&.mkd-six-columns, &.mkd-five-columns, &.mkd-four-columns {
			.affinity_mikado_large_width,
			.affinity_mikado_large_width_height {
				width: 66.6666%;
			}
		}
	}
}

@include ipad-portrait {
	.mkd-pl-holder.woocommerce.masonry {
		&.mkd-six-columns, &.mkd-five-columns, &.mkd-four-columns, &.mkd-three-columns {
			.mkd-product-list-masonry-grid-sizer {
				width: 50%;
			}

			.mkd-pl-item {
				width: 50%;

				&.affinity_mikado_large_width,
				&.affinity_mikado_large_width_height {
					width: 100%;
				}
			}
		}
	}

	.mkd-pl-holder {
		&.mkd-six-columns, &.mkd-five-columns, &.mkd-four-columns, &.mkd-three-columns {
			.mkd-pl-item {
				width: 50%;

				&:nth-child(2n+1) {
					clear: both;
				}
			}
		}
	}
}

@include phone-landscape {
	.mkd-pl-holder.woocommerce.masonry {
		&.mkd-six-columns, &.mkd-five-columns, &.mkd-four-columns, &.mkd-three-columns {
			.mkd-product-list-masonry-grid-sizer {
				width: 100%;
			}

			.mkd-pl-item {
				width: 100%;

				&.affinity_mikado_large_width,
				&.affinity_mikado_large_width_height {
					width: 100%;
				}
			}
		}

		.mkd-pl-item.affinity_mikado_large_height .mkd-pl-item-inner .product-thumbnail img {
			width: 100%;
			height: auto;
			left: 0;
			top: 50%;

			@include mkdTransform(translateY(-50%));
		}
	}

	.mkd-pl-holder {
		&.mkd-six-columns, &.mkd-five-columns, &.mkd-four-columns, &.mkd-three-columns {
			.mkd-pl-item {
				width: 100%;
			}
		}
	}
}