.mkd-section-title-holder {
	.mkd-section-title {
		text-transform: none;
		font-weight: 700;
		margin-top:0;
		margin-bottom: 20px;
		line-height: 1.375em;

		&.mkd-section-title-center {
			margin-left:auto;
			margin-right: auto;
		}
	}
}