/* ==========================================================================
# Testimonial style - begin
========================================================================== */
.mkd-testimonials {
	z-index: 15;
	opacity: 0;
	visibility: hidden;

	.mkd-testimonial-quote {
		text-align: center;

		span {
			font-size: 72px;
			color: $first-main-color;
		}
	}

	.mkd-testimonial-content-inner {
		width: 89%;
		margin: 0 auto;
	}

	.mkd-testimonial-text-holder {
		position: relative;

		.mkd-testimonial-text-inner {
			text-align: center;
			margin-top: 31px;
		}
	}

	.mkd-testimonial-title {
		font-size: 30px;
		line-height: 36px;
		font-weight: 700;
		margin: 20px 0;
		font-family: $headings-font-family;
		text-transform: uppercase;
	}

	.mkd-testimonials-job {
		color: #a7b0be;
	}

	.mkd-testimonial-author {
		margin-top: 54px;
	}

	/* Testimonials image  styles */

	.mkd-testimonial-image-holder {

		img {
			max-width: 100%;
		}
	}

	.slick-list {
		margin-bottom: -30px;
    	padding-bottom: 30px;
	}

	&.testimonials-slider {
		.slick-slide {
			opacity: 0;
		    @include mkdTransition(opacity .2s);
			&.mkd-fade-out {
			    opacity: 0;
			}

			&.mkd-fade-in {
			    opacity: 1;
			    @include mkdTransition(opacity 1s .1s);
			}
		}

		.mkd-testimonial-content-inner {
			width: 77%;
			.mkd-testimonial-text-holder {
				.mkd-testimonial-text {
					font-weight: 400;
				}
			}
		}

		.slick-arrow {

			&.slick-prev {
				left: 0;
				&:before {
					font-size: 64px;
					font-weight: normal;
				}

			}
			&.slick-next {
				right: 0;
				left: auto;
				&:before {
					font-size: 64px;
					font-weight: normal;
				}
			}
		}
	}
	&.testimonials-grid {
		opacity: 1;
		visibility: visible;

		.mkd-testimonials-holder-inner {
			.mkd-testimonial-content {
				margin: 12px;
				padding: 0;
				box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
				background-color: #fff;
				@include mkdBoxSizing(border-box);
				@include mkdTransition(all 0.3s ease-in-out);

				&:hover {
					@include mkdTransform(translate3d(0,-6px,0));
					@include mkdBoxShadow(5px 8.66px 30px 0 rgba(31,35,37,.078));
				}
			}
		}

		.mkd-testimonial-text {
			padding: 57px 10% 53px 10%;
			margin: 0 auto;
		}

	}
}

.mkd-testimonials-holder-inner {
	margin-right: -12px;
	margin-left: -12px;

	.testimonials-grid {
		float: left;
		padding: 0 48px;
		margin-bottom: 37px;

		@include mkdBoxSizing(border-box);

		&.mkd-two-columns {
			width: calc(50% - 24px);
		}

		&.mkd-three-columns {
			width: calc(33.3333% - 24px);
		}

		&.mkd-four-columns {
			width: calc(25% - 24px);
		}

		.mkd-testimonial-text {

			&.light {
				color: #fff;
			}

			p {
				margin-top: 26px;
				font-family: $headings-font-family;
				font-size: 18px;
				line-height: 33px;
				font-style: italic;
			}
		}

		.mkd-testimonial-text-inner {
			margin-bottom: 5px;
			margin-top: 20px;
			display: table;
			width: 100%;
			height: 100%;
		}

		.mkd-testimonial-info {
			position: relative;
			padding: 34px 10% 23px 10%;
			background-color: #fafbfb;
			text-align: center;

			.mkd-testimonial-author-image {
				height: 50px;
				width: 50px;
				position: absolute;
				top: -25px;
				overflow: hidden;
				left: calc(50% - 25px);
				@include mkdBorderRadius(50%);

			}
			.mkd-testimonial-author-text {
				margin-bottom: 5px;
			}

			.mkd-testimonials-job {
				font-weight: 600;
				font-size: 13px;
				font-family: $headings-font-family;
			}
		}

		h6.mkd-testimonial-author-text {
			margin-top: 0;
			&.light {
				color: #fff;
			}
		}

		.mkd-testimonial-image-holder {
			display: table-cell;
			vertical-align: middle;
			width: 76px;

			img {
				max-width: 100%;
				width: 60px;
				height: 60px;
				@include mkdBorderRadius(50%);
			}
		}

		.mkd-testimonial-author {
			display: table-cell;
			vertical-align: middle;
		}

		.mkd-testimonial-text-inner.light,
		.mkd-testimonials-job.light {
			color: #fff;
		}

	}
}

.mkd-testimonial-content.testimonials-slider {
	.mkd-testimonial-author-image {
		width: 107px;
		height: 107px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		@include mkdBorderRadius(50%);

		img {
			display: block;
			position: absolute;
			top: 50%;

			@include mkdTransform(translateY(-50%));
		}
	}

	.mkd-testimonial-author-text {
		&.light {
			color: #fff;
		}
	}

	.mkd-testimonial-title {
		margin-bottom: 50px;
	}

	.mkd-testimonial-text-inner.light,
	.mkd-testimonial-text-inner.light .mkd-testimonial-text,
	.mkd-testimonials-job.light {
		color: #fff;
	}

	.mkd-testimonial-text {
		font-weight: 500;
		line-height: 1.7em;
	}
}

.mkd-testimonial-content.testimonials-slider-boxed {
	margin: 6px 0px 10px 0px;
	padding: 0px 12px;

	.mkd-testimonial-slide-inner {
		background-color: #fff;

		@include mkdBoxShadow(0px 1px 3px rgba(0, 0, 0, 0.08));
		@include mkdTransition(all 0.3s ease-in-out);

		&:hover {
			@include mkdBoxShadow(5px 8.66px 30px 0 rgba(31,35,37,.078));
			@include mkdTransform(translate3d(0,-6px,0));
		}

		.mkd-testimonial-text {
			padding: 57px 10% 53px 10%;
			margin: 0 auto;

			p {
				margin-top: 26px;
				font-family: $headings-font-family;
				font-size: 18px;
				line-height: 33px;
				font-style: italic;
			}
		}

		.mkd-logo-image img {
			margin: 0 auto;
		}

		.mkd-testimonial-info {
			position: relative;
			padding: 34px 10% 23px 10%;
			background-color: #fafbfb;
			text-align: center;

			.mkd-testimonial-author-text {
				margin-bottom: 5px;
			}

			.mkd-testimonials-job {
				font-weight: 600;
				font-size: 13px;
				font-family: $headings-font-family;
			}

			.mkd-testimonial-author-image {
				height: 50px;
				width: 50px;
				position: absolute;
				top: -25px;
				left: calc(50% - 25px);
				overflow: hidden;

				@include mkdBorderRadius(50%);

				img {
					position: relative;
					top: 50%;

					@include mkdTransform(translateY(-50%));
				}
			}
		}
	}

}

.mkd-testimonials-holder.light {
	.slick-prev,
	.slick-next {
		&:before {
			color: #fff;
		}
	}
	.mkd-testimonial-quote span {
		color: #fff;
	}
}

/* ==========================================================================
# Testimonial style - end
========================================================================== */

