.mkd-working-hours-holder {
	position: relative;
	font-size: 16px;

	&.mkd-working-hours-light {
		color: #fff;

		.mkd-wh-title {
			color: #fff;
		}
	}

	.mkd-wh-title {
		text-align: left;
		margin-bottom: 16px;
	}

	.mkd-wh-item {
		position: relative;
		margin-bottom: 18px;
	}

	.mkd-wh-day {
		padding-right: 3px;
		display: table-cell;
		width: 1%;
		white-space: nowrap;

		.mkd-wh-icon {
			margin-right: 6px;
		}
	}

	.mkd-wh-hours {
		padding-left: 4px;
		display: table-cell;
		width: 1%;
		white-space: nowrap;
	}

	.mkd-wh-dots {
		height: 3px;
		background-image: radial-gradient(circle closest-side, #b3b3b3 99%, rgba(0, 0, 0, 0) 100%);
		background-position: 50% 70%;
		background-size: 6px 2px;
		background-repeat: repeat-x;
		display: table-cell;
		width: 98%;
		z-index: 1;
		position: relative;
	}
}