.mkd-blog-holder.mkd-blog-type-masonry, .mkd-blog-list-holder.mkd-masonry {
	margin: 0 -12px;

	article {
		display: block;
		padding: 0 12px;
		text-align: left;
		vertical-align: top;
		z-index: 100;
		margin: 0 0 24px;

		@include mkdBoxSizing(border-box);

		.mkd-social-share-holder.mkd-dropdown .mkd-social-share-dropdown {
			left: auto;
			top: auto;
			bottom: 0;
			right: 0;
		}

		&:hover {
			z-index: 101;
		}

		.mkd-post-image {
			line-height: 0;
			a, img {
				display: block;
			}
		}

		.mkd-post-content {
			background-color: #fff;

			@include mkdBoxShadow(0 1px 1px rgba(31, 35, 37, 0.1));
			@include mkdTransition(box-shadow 0.3s ease, transform 0.3s ease);

			&:hover {

				@include mkdTransform(translateY(-4px));
				@include mkdBoxShadow(5px 8.66px 30px 0 rgba(31, 35, 37, .078));

			}
		}

		.mkd-post-text-inner {
			padding: 21px 25px 21px;
		}

		.mkd-post-title {
			font-size: 16px;
			margin-top: 6px;
			margin-bottom: 7px;
		}

		.mkd-post-excerpt {
			margin: 7px 0;
		}

		.mkd-post-info-category {
			font-family: $headings-font-family;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 600;

			a {
				margin-right: 6px;
			}
		}

		.mkd-post-info {
			font-family: $headings-font-family;
			padding: 13px 23px 9px;
			font-weight: 500;
			line-height: 27px;
			color: #a7b0be;
			font-size: 12px;
			background-color: rgba(243, 245, 246, 0.4);

			a {
				color: #a7b0be;
			}

			i {
				font-size: 14px;
				padding-right: 4px;
			}

			> div {
				display: inline-block;
				padding-right: 23px;

				&.mkd-blog-share {
					float: right;
					padding-right: 0;
				}
			}

			.mkd-post-info-comments-icon {
				position: relative;
				top: 2px;
			}
		}

		&.format-gallery {

			//slick
			.slick-slider {
				margin-bottom: 0;
				opacity: 0;
			}

			.slick-slider .slick-prev {
				left: 0;
				right: auto;
			}

			.slick-slider .slick-next {
				right: 0;
				left: auto;
			}
		}

		&.format-link {
			.mkd-post-text-inner {
				padding: 20px 30px 46px;
			}

			.mkd-post-text {
				background-color: #1c84f6;
			}

			.mkd-post-info-category .mkd-category-name {
				color: #fff !important; //!important to override category color inline style
			}

			.mkd-post-mark {
				font-size: 30px;
				color: #fff;
				margin: 46px 0 22px;
			}

			.mkd-post-title {
				color: #fff;
				line-height: 26px;
				padding-right: 30px;

				a {
					@include mkdTransition(opacity 0.3s ease);
				}

				& a:hover {
					color: inherit;
					opacity: 0.9;
				}
			}

			.mkd-post-info {
				color: #fff;
				background-color: rgba(243, 245, 246, 0.1);

				a {
					color: #fff;
				}
			}
		}

		&.format-quote {
			.mkd-post-text-inner {
				padding: 20px 30px 46px;
			}

			.mkd-post-text {
				background-color: $first-main-color;
			}

			.mkd-post-info-category .mkd-category-name {
				color: #fff !important; //!important to override category color inline style
			}

			.mkd-post-mark {
				font-size: 58px;
				color: #fff;
				margin: 25px 0 0 -15px;
			}

			.mkd-post-title {
				color: #fff;
				margin-top: -9px;
				padding-right: 30px;

				h2 {
					color: inherit;
					font-size: inherit;
					line-height: inherit;
					margin-bottom: 3px;
				}

				a {
					@include mkdTransition(opacity 0.3s ease);
				}

				& a:hover {
					color: inherit;
					opacity: 0.9;
				}

				.quote_author {
					font-size: 13px;
					font-weight: 600;
				}
			}

			.mkd-post-info {
				color: #fff;
				background-color: rgba(243, 245, 246, 0.1);

				a {
					color: #fff;
				}
			}

		}

		&.format-video {
			.mkd-post-image-video {
				position: relative;
			}

			.mkd-post-video {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;

				.mkd-video-post-link {
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: 48px;
					color: #fff;
					height: 60px;
					width: 60px;
					border: 3px solid #fff;

					@include mkdBorderRadius(50%);
					@include mkdTransform(translate(-50%, -50%));

					span {
						position: absolute;
						top: 50%;
						left: 50%;
						padding-left: 4px;

						@include mkdTransform(translate(-50%, -50%));
					}
				}
			}
		}
	}
}

.mkd-blog-list-holder.mkd-masonry { 
	visibility: hidden;
}

.mkd-blog-holder.mkd-blog-type-masonry {
	article {
		width: 25%;
	}

	.mkd-page-content-holder.mkd-grid-col-8 & {
		article, .mkd-blog-masonry-grid-sizer {
			width: 50%;
		}
	}

	.mkd-page-content-holder.mkd-grid-col-9 & {
		article, .mkd-blog-masonry-grid-sizer {
			width: 33.3333%;
		}
	}

	.mkd-blog-masonry-grid-sizer {
		width: 25%;
	}
	.mkd-blog-masonry-grid-gutter {
		width: 0;
	}
}

.mkd-blog-list-holder.mkd-masonry {
	article {
		width: 33.3333%;
	}

	&.mkd-four {
		article, .mkd-blog-masonry-grid-sizer {
			width: 25%;
		}
	}

	.mkd-blog-masonry-grid-sizer {
		width: 33.3333%;
	}
	.mkd-blog-masonry-grid-gutter {
		width: 0;
	}
}