.mkd-blog-holder {

	&.mkd-blog-single {

		&.mkd-blog-standard {
			//single post width - start
			& {
				& > article, & > div {
					width: 65%;
					margin-left: auto;
					margin-right: auto;

					.mkd-grid-col-9 &, .mkd-grid-col-8 & {
						width: 100%;
					}
				}
			}
			//single post width - end

			.mkd-post-image img {
				display: block;
			}

			.mkd-post-title {
				font-size: 24px;
				margin-top: 38px;
			}

			.mkd-post-info {
				margin-top: 15px;
				margin-bottom: 19px;
				font-family: $headings-font-family;
				font-weight: 600;
				color: #ababab;

				> div {
					display: inline-block;
					padding-right: 13px;
				}

				.mkd-date {
					font-size: 12px;
					padding-left: 5px;
				}

				.mkd-post-info-category {
					i {
						padding-right: 2px;
					}
					a {
						font-size: 12px;
						text-transform: uppercase;
						color: #ababab;
					}
				}
			}

			.mkd-tags {
				a {
					display: inline-block;
					font-family: $headings-font-family;
					text-transform: uppercase;
					color: #a1a1a1;
					font-size: 12px;
					font-weight: 600;
					padding: 0px 16px;
					background-color: #f5f5f5;
					border: 1px solid #dee0e2;
					height: 29px;
					line-height: 31px;
					margin-right: 10px;
				}
			}

			.mkd-tags-share-holder {
				margin-top: 45px;
				margin-bottom: 55px;

				.mkd-single-tags-holder {
					float: left;
				}

				.mkd-share-icons-single {
					float: right;

					a {
						color: #a1a1a1;

						&:hover {
							color: #828181;
						}
					}

					.mkd-share-label {
						display: inline-block;
						text-transform: uppercase;
						color: #a1a1a1;
					}

					.mkd-social-share-holder {
						display: inline-block;
					}
				}

			}

			.format-link .mkd-post-link {
				background-color: #1c84f6;
				position: relative;

				.mkd-post-mark {
					position: absolute;
					top: 50%;
					width: 135px;
					text-align: center;

					@include mkdTransform(translateY(-50%));

					span {
						color: #fff;
						font-size: 48px;
					}
				}

				.mkd-post-title {
					padding-left: 135px;
					padding-right: 30px;
					margin-top: 63px;
					margin-bottom: 63px;
					color: #fff;

					@include mkdTransition(opacity 0.3s ease);

					&:hover {
						opacity: 0.85;
					}

					a:hover {
						color: #fff;
					}
				}
			}

			.format-quote .mkd-post-quote {
				background-color: $first-main-color;
				position: relative;

				.mkd-post-mark {
					position: absolute;
					top: 50%;
					width: 135px;
					text-align: center;

					@include mkdTransform(translateY(-50%));

					span {
						color: #fff;
						font-size: 93px;
					}
				}

				.mkd-post-title {
					padding-left: 135px;
					padding-right: 30px;
					margin-top: 63px;
					margin-bottom: 63px;
					color: #fff;

					@include mkdTransition(opacity 0.3s ease);

					&:hover {
						opacity: 0.85;
					}

					a:hover {
						color: #fff;
					}
				}

			}

			.format-gallery {
				.mkd-slick-slider {
					opacity: 0;

					.slick-prev {
						right: calc(100% - 65px);

						&:before {
							content: '\e875';
							left: -13px;
							font-family: 'Linearicons-Free';
							font-size: 65px;
							line-height: 47px;
							color: #fff;
							font-weight: 400;
						}
					}

					.slick-next {
						left: calc(100% - 65px);

						&:before {
							content: '\e876';
							font-family: 'Linearicons-Free';
							font-size: 65px;
							line-height: 47px;
							color: #fff;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}