.mkd-header-centered {
	.mkd-page-header {
		.mkd-logo-area {
			background-color: #fff;
			height: 147px;
			z-index: 2; //to be above menu area in order to cover shadow
			overflow: visible;

			.mkd-logo-wrapper a {
				max-height: 132px; //(logo-area height * 0.9)
			}

			@include mkdBoxSizing(border-box);
		}

		.mkd-menu-area {
			background-color: #fff;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
			z-index: 1;

			@include mkdBoxSizing(border-box);

			.mkd-vertical-align-containers {
				.mkd-position-center-inner {
					height: 100%;
				}
			}
		}

		.mkd-page-header .mkd-sticky-header {
			.mkd-position-left-inner {
				height: auto;
			}

			.mkd-position-right-inner {
				height: 100%;
			}
		}
	}

	&.mkd-header-centered-logo-border-disable .mkd-logo-area,
	&.mkd-header-centered-logo-in-grid-border-disable .mkd-page-header .mkd-logo-area .mkd-grid .mkd-vertical-align-containers {
		border-bottom: none !important;
	}

	&.mkd-header-centered-menu-shadow-disable .mkd-menu-area,
	&.mkd-header-centered-menu-in-grid-shadow-disable .mkd-page-header .mkd-menu-area .mkd-grid .mkd-vertical-align-containers {
		box-shadow: none !important;
	}
}

