/* #Image in a box blog list styles
   ========================================================================== */
.mkd-latest-posts-widget {
	.mkd-blog-list-holder.mkd-image-in-box {
		.mkd-blog-list-item {
			padding: 13px 0;
			border-bottom: 1px solid #edeff2;

			.mkd-item-image {
				float: left;
				@include mkdTransition(0.2s opacity ease-in-out);

				a img {
					display: block;
					width: 58px;
				}

				&:hover {
					opacity:0.7;
				}
			}

			.mkd-item-text-holder {
				padding-left: 75px;
			}

			.mkd-item-title {
				line-height: 1.2em;
				margin-bottom: 7px;
				margin-top: 0;

				a {
					color: #303030;
					font-family: $headings-font-family;
					font-size: 14px;
					line-height: 1em;
					font-weight: 600;

					@include mkdTransition(color 0.2s ease-out);

					&:hover {
						color: $first-main-color;
					}
				}
			}

			.mkd-item-date {
				span {
					font-family: $headings-font-family;
					font-size: 12px;
					font-weight: 600;
					color: #ababab;
				}

				span.mkd-post-info-date-icon {
					display: none;
					margin-right: 7px;
				}
			}

			&:last-child {
				border-bottom: none;
				padding-bottom: 5px;
			}
		}
	}
}

/* #Image in a box blog list styles - end
   ========================================================================== */

/* #Minimal blog list styles
   ========================================================================== */
.mkd-latest-posts-widget {
	.mkd-blog-list-holder.mkd-minimal {
		margin: 0;

		.mkd-blog-list-item {
			width: 100%;
			border-bottom: 1px solid #f2f2f2;
			margin-bottom: 0;
			padding: 20px 0 11px;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
		}

		.mkd-item-title {
			color: #545454;
			margin-top: 0;
			margin-bottom: 4px;
		}

		h6.mkd-item-title {
			font-size: 15px;
		}

		.mkd-item-date {
			color: #979797;
			font-size: 12px;
			font-family: $headings-font-family;
			font-weight: 600;
		}
	}
}

/* #Minimal blog list styles - end
   ========================================================================== */

/* #Simple blog list styles
   ========================================================================== */

.mkd-latest-posts-widget {
	.mkd-blog-list-holder.mkd-simple {
		margin: 0;

		.mkd-blog-list-row {
			margin: 0;

			&:last-child {
				.mkd-blog-list-item:last-child {
					margin-bottom: 0;
					padding: 0;
					border-bottom: 0;
				}
			}
		}

		.mkd-blog-list-item {
			width: 100%;
			padding: 0 0 32px 0;
			border-bottom: 1px solid #edeff2;
			margin-bottom: 26px;

			.mkd-post-info-category a {
				font-size: 12px;
			}

			.mkd-blog-list-title {
				font-size: 16px;
				margin-top: 1px;
				margin-bottom: 0;
			}

			.mkd-bl-item-excerpt {
				margin-top: -1px;
				margin-bottom: 0;
			}

			.mkd-avatar-date-author {
				margin-top: 25px;

				.mkd-date-author {
					padding-left: 58px;

					.mkd-date {
						font-size: 12px;
						line-height: 18px;
					}

					.mkd-author {
						font-size: 12px;

						a {
							line-height: 26px;
						}
					}
				}

				.mkd-avatar a {
					height: 40px;
					width: 40px;
				}
			}

			&:after {
				display: none;
			}
		}
	}
}

/* #Simple blog list styles - end
   ========================================================================== */

/* #Blog list footer styles - start
   ========================================================================== */
.mkd-page-footer .mkd-latest-posts-widget .mkd-blog-list-holder {

	&.mkd-image-in-box .mkd-blog-list-item {
		border-bottom: 1px solid #3d3f46;

		.mkd-item-title {
			a {
				color: #fff;
				font-weight: 400;
				@include mkdTransition(color 0.2s ease-out);

				&:hover {
					color: $first-main-color;
				}
			}
		}

		.mkd-item-date {
			span.mkd-post-info-date-icon {
				display: inline;
			}
		}
	}

	&.mkd-minimal .mkd-blog-list-item {
		border-bottom: 1px solid #3d3f46;

		.mkd-item-title {
			a {
				color: #fff;

				@include mkdTransition(color 0.2s ease-out);

				&:hover {
					color: $first-main-color;
				}
			}
		}

		.mkd-excerpt {
			color: #ababab;
		}
	}

	&.mkd-image-in-box .mkd-blog-list-item:first-child {
		padding-top: 0;
	}

	&.mkd-image-in-box .mkd-blog-list-item:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	&.mkd-simple {
		.mkd-blog-list-item {
			border-color: #3d3f46;

			.mkd-blog-list-title {
				color: #fff;
			}

			.mkd-bl-item-excerpt {
				color: #ababab;
			}

			.mkd-author {
				color: #ffffff;

				a {
					color: #ffffff;
				}
			}
		}
	}
}

/* #Blog list footer styles - end
   ========================================================================== */