@import 'variables';
@import 'mixins';

/* ==========================================================================
   #Comments styles - start
   ========================================================================== */

.mkd-comment-holder {
	padding: 28px 0 0;
	border-top: 1px solid #edeff2;

	.mkd-comment-image {
		display: block;
		width: 60px;
		float: left;
	}

	.mkd-comment-number-title {
		margin-bottom: 3px;
	}

	.mkd-comment-text {
		padding-left: 79px;
		min-height: 75px;

		.mkd-comment-info {
			display: inline-block;
			width: 100%;
			vertical-align: middle;

			span.mkd-comment-date {
				color: #ababab;
				font-size: 12px;
				font-weight: 600;
				text-transform: uppercase;
				font-family: $headings-font-family;
			}
		}

		.mkd-text-holder {
			margin-top: 26px;
		}

		.replay,
		.comment-reply-link,
		.comment-edit-link {
			margin-right: 16px;
		}

		.mkd-comment-name {
			margin-top: 9px;
			margin-bottom: 2px;
		}
	}

	.mkd-comment-image img {
		display: block;

		@include mkdBorderRadius(50%);
	}

	.mkd-comment {
		position: relative;
		padding: 28px 40px 38px 28px;
		background-color: #fff;

		@include mkdBoxShadow(0 1px 1px rgba(31, 35, 37, 0.1));
	}

	.mkd-comment-reply-holder {
		position: absolute;
		top: 49px;
		right: 24px;

		a {
			display: inline-block;
			position: relative;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
			font-family: $headings-font-family;

			&:hover:after {
				width: 100%;
			}

			&:after {
				content: '';
				background-color: $first-main-color;
				left: 0;
				bottom: 0;
				height: 1px;
				width: 0;
				position: absolute;

				@include mkdTransition(width 0.3s ease);
			}
		}
	}

}

ul.mkd-comment-list {
	list-style: none;
	position: relative;
	z-index: 150;
	padding: 0;
	margin: 0;

	.children {
		padding-left: 110px;

		& > li:before {
			content: "\4a";
			font-family: ElegantIcons;
			font-size: 61px;
			color: $first-main-color;
			position: absolute;
			top: 13px;
			margin-right: 22px;
			right: 100%;

			@include mkdTransform(rotate(-90deg) scaleX(-1));
		}
	}

	li {
		display: inline-block;
		position: relative;
		width: 100%;
		margin-top: 28px;
	}

	> li {

		@include mkdBoxSizing(border-box);
	}
}

.mkd-comment-form {
	margin-top: 55px;

	input[type='text'], textarea {
		@include mkdPlaceholder {
			color: #93a4b5;
		}
	}

	#respond textarea {
		margin-bottom: 8px;
	}

	#respond input[type='text'] {
		margin-bottom: 9px;
	}

	.mkd-comment-label-title {
		margin-bottom: 5px;
	}
}

.comment-respond {
	.logged-in-as {
		margin-bottom: 10px;
	}

	.form-submit {
		margin: 10px 0 0 0;

		input {
			letter-spacing: 0;
		}
	}
}

.mkd-comment-text {

	.comment-respond {
		margin: 20px 0;
	}
}

%input-style {
	width: 100%;
	margin-bottom: 11px;
	padding: 10px 15px;
	border: 1px solid #f2f2f2;
	outline: 0;
	font-family: inherit;
	font-size: 13px;
	background-color: #fff;
	color: #969696;
	@include mkdBoxSizing(border-box);

	&:focus {
		border: 1px solid $first-main-color;
	}
}

.wpcf7-form-control {
	&.wpcf7-text,
	&.wpcf7-number,
	&.wpcf7-date,
	&.wpcf7-textarea,
	&.wpcf7-select,
	&.wpcf7-quiz {
		@include inputStyle;
	}
}

.wpcf7-form div.wpcf7-validation-errors {
	border:none;
}

.post-password-form input[type='password'] {
	@include inputStyle;
}

#respond textarea,
#respond input[type='text'] {
	@include inputStyle(false);

	background-color: #fff;
}

.post-password-form input[type='submit'],
input.wpcf7-form-control.wpcf7-submit {
	font-family: $headings-font-family;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	background-color: $first-main-color;
	outline: none;
	border: none;
	padding: 15px 45px;
	cursor: pointer;
	font-weight: bold;

}

/* ==========================================================================
   #Comments styles - end
   ========================================================================== */

/* ==========================================================================
   #Pagination styles - start
   ========================================================================== */
.mkd-pagination-helper {
	display: none;
}

.mkd-pagination {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin-top: 30px;
	margin-bottom: 26px;

	.page-template-blog-masonry-full-width & {
		padding: 0 30px;
	}

	.mkd-grid-col-9 &, .mkd-grid-col-8 & {
		margin-bottom: 90px;
	}

	ul {
		margin: 0;
	}

	li.mkd-pagination-prev span {
		font-size: 25px;
		line-height: 45px;
	}

	li.mkd-pagination-next span {
		font-size: 25px;
		line-height: 45px;
	}

	li.mkd-pagination-next {
		margin-right: 0;
	}

	li {
		font-family: $headings-font-family;
		float: left;
		text-align: center;
		margin-right: 8px;
		display: block;

		&.active span, &:hover a {
			color: $first-main-color;
		}

		& > a,
		& > span {
			position: relative;
			display: inline-block;
			width: 45px;
			height: 45px;
			line-height: 45px;
			margin: 0;
			border: 1px solid #dee3eb;
			font-weight: 600;
			color: #ababab;
			vertical-align: middle;
			text-decoration: none;
			cursor: pointer;
			white-space: nowrap;

			@include mkdBoxSizing(content-box);
		}

	}
}

/* ==========================================================================
   #Pagination styles - end
   ========================================================================== */

/* ==========================================================================
   #404 styles - start
   ========================================================================== */

.mkd-content .mkd-content-inner > .mkd-container > .mkd-container-inner.mkd-404-page {
	padding: 30px 0;
}

.mkd-page-not-found {
	margin: 24px 0 83px;
	text-align: center;

	h1 {
		font-size: 36px;
		color: #fff;
		margin-top: -22px;
		letter-spacing: 2px;
	}

	p {
		width: 40%;
		font-size: 18px;
		color: #fff;
		margin: 22px auto;

		@include ipad-portrait {
			& {
				width: 75%;
			}
		}

		@include phone-portrait {
			& {
				width: 90%;
			}
		}
	}

	.mkd-btn {
		margin-top: 21px;
	}
}

/* ==========================================================================
   #404 styles - end
   ========================================================================== */

/* ==========================================================================
   #Back to Top styles - start
   ========================================================================== */
#mkd-back-to-top {
	display: block;
	position: fixed;
	right: 29px;
	bottom: 28px;
	margin: 0;
	width: 60px;
	height: 60px;
	opacity: 0;
	visibility: hidden;
	z-index: 10000;
	color: #d0d0d0;
	text-align: center;
	background-color: #252525;

	@include mkdTransition(opacity 0.2s ease-out, visibility 0.2s ease-out, color 0.2s ease-out);
	@include mkdBoxSizing(border-box);

	.mkd-back-to-top-inner {
		display: block;
		position: relative;
		top: 65%;

		@include mkdTransform(translateY(-50%));
	}

	.mkd-back-to-top-text {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		font-family: $headings-font-family;

		@include mkdTransition(opacity 0.2s ease-in-out);
	}

	.mkd-icon-stack {
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -19px;
		line-height: inherit;
		font-size: 36px;

		@include mkdTransition(transform 0.2s ease-out);
	}

	&.off {
		opacity: 0;
		visibility: hidden;
	}

	&.on {
		opacity: 1;
		visibility: visible;
	}

	&:hover {
		.mkd-back-to-top-text {
			opacity: 0;
		}

		.mkd-icon-stack {
			@include mkdTransform(translateY(10px));
		}
	}
}

/* ==========================================================================
   #Back to Top styles - end
   ========================================================================== */

/* ==========================================================================
   #Self Hosted Video styles - start
   ========================================================================== */
.mkd-self-hosted-video-holder {
	.mkd-video-wrap {
		.mejs-container,
		.mejs-overlay-play {
			height: 100% !important; /*!important because of the inline style*/
			width: 100% !important; /*!important because of the inline style*/
		}
	}
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */

/* ==========================================================================
   #Screen reader text - start
   ========================================================================== */

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}

}

/* ==========================================================================
   #Screen reader text - end
   ========================================================================== */

.mkd-like.liked {
	color: $first-main-color;
}

/* ==========================================================================
   #Default sidebar styles - start
   ========================================================================== */
aside.mkd-sidebar, .wpb_widgetised_column {

	.widget_search {
		margin-bottom: 40px;
		input[type=text] {
			@include mkdPlaceholder {
				color: #93a4b5;
			}
		}

	}
	.widget {
		margin-bottom: 47px;

		&.widget_search h5 {
			margin-bottom: 20px;
		}

		&.widget_text {

			h5 {
				margin-bottom: 26px;
			}
		}

		&.mkd-latest-posts-widget {
			h5 {
				margin-bottom: 0;
			}
		}

		ul li {

			a {
				font-size: 12px;
				font-weight: 500;
				display: inline-block;
				font-family: $headings-font-family;
				color: #545454;

				@include mkdTransition(0.2s ease-out);

				&:hover {
					color: $first-main-color;
				}
			}
		}

		ul {
			list-style: none;
		}

		&.widget_archive select,
		&.widget_categories select,
		&.widget_text select {
			border: 1px solid #e1e6eb !important;
		}

		&.widget_price_filter,
		&.widget_product_categories {

		}

		&.widget_products {

			ul li {
				a {
					img {
						width: 58px;
					}
					.product-title {
						color: $headings-text-color;
						font-size: 14px;
						font-weight: 600;
					}
				}
			}

		}

		&.widget_top_rated_products {

		}

		&.widget_search {
			.mkd-search-form {
				position: relative;

				input[type='text'] {
					width: 100%;
					max-width: 215px;
					border: 1px solid transparent;
					background-color: #f3f5f6;
					border-radius: 20px;
					height: 38px;
					padding: 0 10px 0px 45px;
					margin: 0;
					font-family: $headings-font-family;
					font-size: 13px;
					font-weight: 500;
					color: #8a95a8;
					outline: none;

					@include mkdBoxSizing(border-box);
				}

				input[type='submit'] {
					font-family: 'Simple-Line-Icons';
					margin: 0px;
					padding: 0px;
					background-color: transparent;
					border: 0;
					color: #a7b0be;
					font-size: 16px;
					position: absolute;
					left: 15px;
					top: 11px;
					cursor: pointer;
				}
			}
		}

		&.widget_archive select,
		&.widget_categories select,
		&.widget_text select {
			width: 100%;
			overflow: hidden;
			background-color: #fbfbfc;
			padding: 0 18px;
			height: 51px;
			outline: none;
			color: #7f8385;
			font-family: inherit;
			border: 1px solid #e5e5e5;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			@include mkdBoxSizing(border-box);
		}

		& > h5 {
			position: relative;
			margin-top: 0;
			border-bottom: 1px solid #edeff2;
			margin-bottom: 19px;
			padding-bottom: 19px;
		}

		&.widget_categories {
			& > h5 {
				margin-bottom: 24px;
			}

			ul li {
				position: relative;

				a {
					padding-bottom: 0;
					padding-top: 0;
				}
			}

			ul {
				margin-top: 0;
				margin-bottom: 0;
			}

		}

		&.widget_recent_comments li.recentcomments {
			padding-top: 3px;
			padding-bottom: 3px;
		}

		&.widget_rss ul li {
			padding-bottom: 3px;
			padding-top: 3px;
		}

		&.widget_nav_menu {
			padding: 0;
			border: none;
			box-shadow: none;

			ul {
				margin: 0;
			}

			ul.menu {
				li {
					a {
						position: relative;
						padding: 8px 17px 8px;
						display: block;
						color: $headings-text-color;
						font-size: 14px;

						&.mkd-custom-menu-active {
							color: $first-main-color;
						}

						&:hover {
							color: $first-main-color;
						}
					}
				}

				> li {
					border-bottom: 1px solid #f1f1f1;

					> a {
						padding: 16px 17px 16px;
					}
				}
			}

			ul.sub-menu {
				border-top: 1px solid #f2f2f2;

				> li {

					&:first-child > a {
						padding: 16px 17px 8px;
					}

					&:last-child > a {
						padding: 8px 17px 16px;
					}

					&:last-child:first-child > a {
						padding: 16px 17px 16px;
					}
				}
			}

			.current-menu-item > a {
				color: $first-main-color;
			}

			.menu-item-has-children {
				border-bottom: 1px solid #f1f1f1;

				&:last-child {
					border-bottom: 0;
				}

				> a {
					padding-bottom: 16px;

					&:before {
						content: '\e874';
						font-family: 'Linearicons-Free';
						position: absolute;
						right: 17px;
					}
				}
			}

			.sub-menu {
				display: none;
			}

			.current-menu-ancestor > .sub-menu,
			.current-menu-parent > .sub-menu {
				display: block;
			}
		}

		&.widget_calendar,
		&.widget_pages {
			margin-top: 80px;
		}

		&.widget_meta ul li {

			a {
				padding-bottom: 3px;
				padding-top: 3px;
			}
		}

		&.widget_pages ul li {

			ul.children {

				li:last-child {
					border-bottom: 0;
				}
			}

			a {
				padding-bottom: 3px;
				padding-top: 3px;
			}
		}

		&.widget_product_tag_cloud .tagcloud a,
		&.widget_tag_cloud .tagcloud a {
			font-size: 12px !important;
			display: inline-block;
			font-family: $headings-font-family;
			padding: 3px 20px;
			margin-right: 9px;
			margin-bottom: 9px;
			border: 1px solid #e6e6e6;
			color: #bfbfbf;
			font-weight: 600;
			text-transform: uppercase;
			background-color: #fff;
			@include mkdTransition(background-color .2s ease-out, border .2s ease-out);

			&:hover {
				background-color: #32343a;
				border: 1px solid #32343a;
				color: #fff;
			}
		}

		&.widget_tag_cloud {

			h5 {
				margin-bottom: 30px;
			}
		}
		&.widget_product_tag_cloud {
			.tagcloud {
				margin-top: 25px;
				margin-bottom: 5px;
			}
		}

		&.widget_archive {

			ul li {

				a {
					padding-bottom: 3px;
					padding-top: 3px;
				}
			}
		}

		&.widget_mkd_twitter_widget {
			margin-bottom: 57px;
			padding: 30px;
			background-color: #55acee !important;
			color: #fff;
			background-image: url('./img/widget_twitter.png');
			background-position: calc(100% - 14px) calc(100% + 8px);
			background-repeat: no-repeat;

			h5 {
				margin-bottom: 26px;
			}

			.mkd-tweet-icon {
				display: inline-block;
				color: #fbfbfc;
				float: left;
				font-size: 20px;
			}

			.mkd-tweet-holder,
			.mkd_tweet_time {
				margin-left: 40px;
				line-height: 23px;
				color: #fff;

				a {
					color: #fff;
				}
			}

			ul.mkd_twitter_widget li {
				margin-bottom: 0;
				padding-bottom: 0;
			}

			.mkd_tweet_text {
				font-size: 14px;
				font-weight: 500;
				color: #fff;
			}
		}
	}
}

.mkd-boxed-widgets {
	aside.mkd-sidebar, .wpb_widgetised_column {

		.widget {
			background-color: #fff;
			padding: 40px 30px 25px 30px;
			border: 1px solid #e1e6eb;
			margin-bottom: 38px;

			@include mkdBoxSizing(border-box);
			@include mkdBoxShadow(1px 1px 1px 0px rgba(0, 0, 0, 0.08));

			&.mkd-latest-posts-widget {
				padding: 30px 30px 44px;
			}

			&.widget_nav_menu {
				padding: 15px;
				border: none;
				box-shadow: none;
			}
		}

		.widget.widget_categories {
			background-image: url('./img/widget_categories.png');
			background-position: calc(100% - 14px) calc(100% + 36px);
			background-repeat: no-repeat;
		}
		.widget.widget_archive {
			background-image: url('./img/widget_archive.png');
			background-position: calc(100% - 15px) calc(100% + 40px);
			background-repeat: no-repeat;
		}
	}
}

.wpcf7-form.cf7_custom_style_1 {
	.wpcf7-form-control {

		&.wpcf7-email,
		&.wpcf7-text,
		&.wpcf7-textarea {
			background-color: #f3f5f6;
			border-color: #d7dde3;
			border-radius: 5px;
			color: #93a4b5;
			&::-webkit-input-placeholder {
				/* WebKit, Blink, Edge */
				color: #93a4b5;
				font-size: 18px;
			}
			&:-moz-placeholder {
				/* Mozilla Firefox 4 to 18 */
				color: #93a4b5;
				font-size: 18px;
			}
			&::-moz-placeholder {
				/* Mozilla Firefox 19+ */
				color: #93a4b5;
				font-size: 18px;

			}
			&:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				color: #93a4b5;
				font-size: 18px;
			}
		}
		&.wpcf7-submit {
			padding: 19px 45px 17px;

			@include mkdTransition(background-color .1s linear);

			&:hover {
				background-color: #56db96;
			}
		}
		&.wpcf7-email,
		&.wpcf7-text {
			padding: 20px 17px;
			margin-bottom: 14px;
		}
		&.wpcf7-textarea {
			height: 175px;
		}
	}

	label {
		font-family: $headings-font-family;
		color: $header-dark-color;
		font-weight: 600;
		font-size: 13px;
		text-transform: uppercase;
		display: block;
		text-align: left;
		letter-spacing: 1.5px;
	}

	p:last-of-type {
		text-align: center;
	}
}

.wpcf7-form.cf7_custom_style_2 {

	label {
		color: $headings-text-color;
		font-family: $headings-font-family;
		font-weight: 500;
		& > span {
			color: #f65c6b;
		}
		.select2-chosen {
			color: #d4d4d4;
		}
	}

	.wpcf7-form-control {
		&.wpcf7-email,
		&.wpcf7-text,
		&.wpcf7-textarea,
		&.wpcf7-select {
			background-color: transparent;
			@include mkdBorderRadius(2px);
			margin-bottom: 24px;
			&::-webkit-input-placeholder {
				/* WebKit, Blink, Edge */
				color: #d4d4d4;
				font-size: 12px;
				font-weight: 400;
			}
			&:-moz-placeholder {
				/* Mozilla Firefox 4 to 18 */
				color: #d4d4d4;
				font-size: 12px;
				font-weight: 400;
			}
			&::-moz-placeholder {
				/* Mozilla Firefox 19+ */
				color: #d4d4d4;
				font-size: 12px;
				font-weight: 400;

			}
			&:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				color: #d4d4d4;
				font-size: 12px;
				font-weight: 400;
			}
		}
		&.wpcf7-select {
			color: #d4d4d4;
			font-size: 12px;
			font-weight: 400;
			padding: 0;
			border: none;

			.select2-choice {
				border: 1px solid #ebebeb;
				height: 55px;
				line-height: 55px;
				@include mkdBorderRadius(2px);

				.select2-arrow {
					&:before {
						content: "\e874";
						font-family: 'Linearicons-Free';
						color: #d4d4d4;
						font-size: 13px;

					}
				}
			}
		}
		&.wpcf7-textarea {
			height: 152px;
		}
		&.wpcf7-submit {
			padding-left: 30px;
			padding-right: 30px;
			font-weight: 600;
		}
	}

	p:last-of-type {
		text-align: center;
	}

}

.wpcf7-form {
	.wpcf7-form-control {
		&.wpcf7-select {
			@include mkdBorderRadius(2px);
			margin-bottom: 24px;
			&::-webkit-input-placeholder {
				/* WebKit, Blink, Edge */
				color: #d4d4d4;
				font-size: 12px;
				font-weight: 400;
			}
			&:-moz-placeholder {
				/* Mozilla Firefox 4 to 18 */
				color: #d4d4d4;
				font-size: 12px;
				font-weight: 400;
			}
			&::-moz-placeholder {
				/* Mozilla Firefox 19+ */
				color: #d4d4d4;
				font-size: 12px;
				font-weight: 400;

			}
			&:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				color: #d4d4d4;
				font-size: 12px;
				font-weight: 400;
			}
		}
		&.wpcf7-select {
			color: #d4d4d4;
			font-size: 12px;
			font-weight: 400;
			padding: 0;
			border: none;

			.select2-choice {
				border: 1px solid #ebebeb;
				height: 55px;
				line-height: 55px;
				@include mkdBorderRadius(2px);

				.select2-arrow {
					&:before {
						content: "\e874";
						font-family: 'Linearicons-Free';
						color: #d4d4d4;
						font-size: 13px;

					}
				}
			}
		}
	}

}

.mkd-confirmation-form {
	.wpcf7-form-control {
		&.wpcf7-text,
		&.wpcf7-email,
		&.wpcf7-date {
			padding: 12px 17px;
			margin-bottom: 13px;
		}

		&.wpcf7-text,
		&.wpcf7-email,
		&.wpcf7-date,
		&.wpcf7-textarea {
			color: #fff;
			border: 2px solid rgba(215, 221, 227, 0.36);
			@include mkdBorderRadius(3px);
			background-color: rgba(31, 34, 42, 0.36);

			&:focus {
				border-color: $first-main-color;
			}

			&::-webkit-input-placeholder {
				color: #fff;
			}

			&:-moz-placeholder {
				/* Firefox 18- */
				color: #fff;
			}

			&::-moz-placeholder {
				/* Firefox 19+ */
				color: #fff;
			}

			&:-ms-input-placeholder {
				color: #fff;
			}
		}

		&.wpcf7-textarea {
			height: 155px;
			margin-bottom: 0;
		}

		&.wpcf7-submit {
			padding: 14px 45px;
			font-size: 14px;
		}
	}
	.mkd-two-columns-50-50-inner {
		.mkd-column {
			.mkd-column-inner {
				padding: 0 6px 0 15px;;
			}

			&:last-child {
				.mkd-column-inner {
					padding: 0 15px 0 6px;
				}
			}
		}
	}
	p:first-of-type {
		margin-top: 5px;
	}

	p:last-of-type {
		text-align: center;
	}

	.first-name,
	.email,
	.guests,
	.attending {

		&:after {
			font-family: 'Simple-Line-Icons';
			display: inline-block;
			position: absolute;
			color: #fff;
			top: 50%;
			font-size: 20px;
			right: 20px;
			@include mkdTransform(translatey(-50%));
		}

	}
	.email:after {
		content: "\e086";
	}
	.first-name:after {
		content: "\e060";
	}
	.guests:after {
		content: "\e002";
	}
	.attending:after {
		content: "\e080";
	}

}

.mkd-newsletter-footer {
	span.wpcf7-form-control-wrap {
		display: block;
		float: left;
		width: calc(100% - 45px);
		height: 45px;
		background-color: transparent;
	}

	.ajax-loader {
		display: none;
	}
	input[type=email] {
		padding: 0;
		padding-left: 20px;
		background-color: rgba(34, 34, 37, 0.3);
		line-height: 45px;
		height: 45px;
		outline: 0;
		margin: 0;
		font-size: 13px;
		font-style: normal;
		font-weight: normal;
		text-transform: none;
		-webkit-appearance: none;
		border: 1px solid rgba(215, 221, 227, 0.3);
		border-right: none;
		color: #979797;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		&:focus {
			border-right: none;
		}

		&::-webkit-input-placeholder {
			font-size: 13px;
			text-transform: none;
			font-weight: normal;
		}

		&:-moz-placeholder {
			/* Firefox 18- */
			font-size: 13px;
			text-transform: none;
			font-weight: normal;
		}

		&::-moz-placeholder {
			/* Firefox 19+ */
			font-size: 13px;
			font-weight: normal;
			text-transform: none;
		}

		&:-ms-input-placeholder {
			font-size: 13px;
			font-weight: normal;
			text-transform: none;
		}
	}

	.mkd-submit-icon {
		position: relative;
		overflow: hidden;
		display: inline-block;

		i {
			content: "\e094";
			display: inline-block;
			font-family: 'Simple-Line-Icons';
			color: #fff;
			font-size: 20px;
			position: absolute;
			font-weight: 500;
			left: 50%;
			top: 50%;
			@include mkdTransform(translate(-50%, -50%));
		}
	}

	input.wpcf7-form-control.wpcf7-submit {
		float: left;
		font-weight: 500;
		width: 45px;
		height: 45px;
		line-height: normal;
		font-size: 14px;
		background-color: $first-main-color;
		color: #fbfbfc;
		font-family: 'Simple-Line-Icons';
		text-align: center;
		border: 0;
		outline: 0;
		padding: 0;
		cursor: pointer;
		-webkit-appearance: none;
		border-radius: 0;
		margin-top: 0;

	}
}

.mkd-newsletter {

	display: inline-block;

	& > span {
		float: left;
		width: 250px;
	}
	.wpcf7-form-control-wrap {
		input[type=email],
		input[type=text] {
			background-color: #ffffff;
			border: 1px solid #d7dde3;
			color: #93a4b5;
			font-size: 16px;

			&::-webkit-input-placeholder {
				color: #93a4b5;
				font-size: 16px;
			}

			&:-moz-placeholder {
				/* Firefox 18- */
				color: #93a4b5;
				font-size: 16px;
			}

			&::-moz-placeholder {
				/* Firefox 19+ */
				color: #93a4b5;
				font-size: 16px;
			}

			&:-ms-input-placeholder {
				color: #93a4b5;
				font-size: 16px;
			}
		}
		input[type=text] {
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
		}
		input[type=email] {
			border-right: none;
			&:focus {
				border-right: none;
			}
		}
	}

	.wpcf7-form-control.wpcf7-submit {
		border: none;
		background-color: $first-main-color;
		color: #fff;
		text-transform: uppercase;
		font-size: 15px;
		font-family: $headings-font-family;
		padding: 18px 45px 15px;
		font-weight: 600;
		cursor: pointer;
		float: left;

		&:focus {
			outline: none;
		}

	}

	&.transparent {
		.wpcf7-form-control-wrap {
			input[type=email],
			input[type=text] {
				background-color: rgba(35, 36, 39, .4);
				border: 2px solid rgba(215, 221, 227, .4);
				color: #fff;
				padding: 11px 17px;
				font-size: 18px;

				&::-webkit-input-placeholder {
					color: #fff;
					font-size: 18px;
				}

				&:-moz-placeholder {
					/* Firefox 18- */
					color: #fff;
					font-size: 18px;
				}

				&::-moz-placeholder {
					/* Firefox 19+ */
					color: #fff;
					font-size: 18px;
				}

				&:-ms-input-placeholder {
					color: #fff;
					font-size: 18px;
				}

			}
			input[type=email] {
				border-left: none;
				border-right: none;
			}

		}

		.wpcf7-form-control {
			&.wpcf7-submit {
				padding: 16px 45px 14px;
				font-weight: 600;
			}
		}

		&.mkd-one-field {
			& > span {
				width: 400px;
			}
			.wpcf7-form-control-wrap {
				input[type=email] {
					border-left: 2px solid rgba(215, 221, 227, .4);
					padding-left: 33px;
				}
			}
		}
	}

	&.grey-skin {
		.wpcf7-form-control {

			&.wpcf7-text {
				padding: 14px 30px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&.wpcf7-email {
				border-radius: 0;
				padding: 14px 25px;
			}

			&.wpcf7-submit {
				padding: 16px 45px 15px;
				font-weight: 600;
			}
		}
	}
}

@include ipad-portrait {
	.mkd-two-columns-66-33 > .mkd-column1,
	.mkd-two-columns-66-33 > .mkd-column2,
	.mkd-two-columns-33-66 > .mkd-column1,
	.mkd-two-columns-33-66 > .mkd-column2,
	.mkd-two-columns-75-25 > .mkd-column1,
	.mkd-two-columns-75-25 > .mkd-column2,
	.mkd-two-columns-25-75 > .mkd-column1,
	.mkd-two-columns-25-75 > .mkd-column2,
	.mkd-two-columns-50-50 > .mkd-two-columns-50-50-inner > .mkd-column,
	.mkd-three-columns > .mkd-three-columns-inner > .mkd-column,
	.mkd-four-columns > .mkd-four-columns-inner > .mkd-column,
	.mkd-five-columns > .mkd-five-columns-inner > .mkd-column {
		width: 100%;
	}

	.mkd-two-columns-50-50 > .mkd-two-columns-50-50-inner,
	.mkd-three-columns > .mkd-three-columns-inner,
	.mkd-four-columns > .mkd-four-columns-inner,
	.mkd-five-columns > .mkd-five-columns-inner {
		margin: 0;
	}

	.mkd-two-columns-66-33 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-66-33 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-33-66 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-33-66 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-75-25 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-75-25 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-25-75 > .mkd-column1 > .mkd-column-inner,
	.mkd-two-columns-25-75 > .mkd-column2 > .mkd-column-inner,
	.mkd-two-columns-50-50 > .mkd-two-columns-50-50-inner > .mkd-column > .mkd-column-inner,
	.mkd-three-columns > .mkd-three-columns-inner > .mkd-column > .mkd-column-inner,
	.mkd-four-columns > .mkd-four-columns-inner > .mkd-column > .mkd-column-inner,
	.mkd-five-columns > .mkd-five-columns-inner > .mkd-column > .mkd-column-inner {
		padding: 0;
	}
}

@include ipad-landscape {
	.mkd-page-sidebar.mkd-two-columns-66-33 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-66-33 .mkd-column2,
	.mkd-page-sidebar.mkd-two-columns-33-66 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-33-66 .mkd-column2,
	.mkd-page-sidebar.mkd-two-columns-25-75 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-25-75 .mkd-column2,
	.mkd-page-sidebar.mkd-two-columns-75-25 .mkd-column1,
	.mkd-page-sidebar.mkd-two-columns-75-25 .mkd-column2 {
		width: 100%;
	}

	.mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-33-66 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-75-25 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-25-75 .mkd-column1 .mkd-column-inner {
		padding-right: 0;
	}

	.mkd-two-columns-66-33 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-33-66 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-75-25 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-25-75 .mkd-column2 .mkd-column-inner {
		padding-left: 0;
	}
}

/* ==========================================================================
   #Default sidebar styles - end
   ========================================================================== */

/* ==========================================================================
   #Row  - start
   ========================================================================== */

.vc_row.wpb_row.vc_row-fluid.mkd-video {
	overflow: hidden;
}

/* ==========================================================================
   #Row  - end
   ========================================================================== */

/* ==========================================================================
   #jQuery Datepicker styles - start
   ========================================================================== */
#ui-datepicker-div {
	z-index: 1000 !important;
	background-color: #fff;
	min-width: 220px;
	font-size: 12px;

	@include mkdBoxShadow(0 0 2px #ddd);

	table tr {
		border: none;
	}

	table td {
		padding: 3px;
		line-height: 1.5em;
	}

	.ui-datepicker-header {
		padding: 5px 16px;
		position: relative;
	}

	.ui-datepicker-next,
	.ui-datepicker-prev {
		position: absolute;
		font-size: 14px;
	}

	.ui-datepicker-prev {
		left: 12px;
	}

	.ui-datepicker-next {
		right: 12px;
	}

	.ui-datepicker-title {
		text-align: center;
	}

	.ui-state-default {
		color: $default-text-color;
	}

	.ui-datepicker-today {
		color: #fff;
		background-color: $first-main-color;

		a {
			color: #fff;
		}
	}
}

/* ==========================================================================
   #jQuery Datepicker styles - end
   ========================================================================== */

/* ==========================================================================
	Select 2 style
	========================================================================== */

/* ==========================================================================
Select 2 style
========================================================================== */

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  @include mkdBoxSizing(border-box);
}

.select2-container {
  @include mkdRelativeHolderLayout();
  margin: 0 0 14px;

  .select2-choice {
	@include mkdRelativeHolderLayout();
	height: 44px;
	line-height: 44px;
	padding: 0 20px;
	font-family: inherit;
	font-size: inherit;
	color: $default-text-color;
	background-color: transparent;
	border: 1px solid $default-border-color;
	border-radius: 0;
	@include mkdBoxSizing(border-box);

	&:hover {
	  color: $headings-text-color;

	  .select2-arrow {
		color: $headings-text-color;
	  }
	}

	.select2-arrow {
	  position: absolute;
	  width: 20px;
	  height: 100%;
	  top: 0;
	  right: 10px;
	  color: $default-text-color;
	  line-height: inherit;
	  text-align: center;

	  b {
		display: none;
	  }

	  &:before {
		font-family: 'FontAwesome';
		content: '\f107';
	  }
	}
  }

  .select2-offscreen,
  .select2-offscreen:focus {
	clip: rect(0 0 0 0) !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	position: absolute !important;
	outline: 0 !important;
	left: 0px !important;
	top: 0px !important;
  }
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-drop {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: -1px;
  z-index: 9999;

  background-color: #fff;
  color: $default-text-color;
  border: 1px solid $default-border-color;
  border-top: 0;

  .select2-search {
	@include mkdRelativeHolderLayout();
	min-height: 26px;
	margin: 0;
	padding: 4px 15px 0;
	z-index: 10000;
	white-space: nowrap;

	input {
	  width: 100%;
	  height: auto !important;
	  min-height: 26px;
	  padding: 4px;
	  margin: 0;
	  outline: 0;
	  font-family: sans-serif;
	  font-size: 1em;
	  border: 1px solid $default-border-color;
	  border-radius: 0;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	}

	& > label {
	  display: none;
	}
  }

  .select2-results {
	position: relative;
	max-height: 200px;
	padding: 2px 15px;
	margin: 5px 0;
	overflow-x: hidden;
	overflow-y: auto;
	background: none;

	.select2-highlighted {
	  color: $headings-text-color;
	  background-color: transparent;
	}

	ul.select2-result-sub {
	  margin: 0;
	  padding-left: 0;
	}

	li {
	  list-style: none;
	  display: list-item;
	  background-image: none;
	  padding: 7px 0;
	}

	li.select2-result-with-children > .select2-result-label {
	  font-weight: bold;
	}

	.select2-result-label {
	  padding: 0;
	  margin: 0;
	  cursor: pointer;

	  min-height: 1em;

	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
  }
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.select2-results-dept-1 .select2-result-label {
  padding-left: 20px
}

.select2-results-dept-2 .select2-result-label {
  padding-left: 40px
}

.select2-results-dept-3 .select2-result-label {
  padding-left: 60px
}

.select2-results-dept-4 .select2-result-label {
  padding-left: 80px
}

.select2-results-dept-5 .select2-result-label {
  padding-left: 100px
}

.select2-results-dept-6 .select2-result-label {
  padding-left: 110px
}

.select2-results-dept-7 .select2-result-label {
  padding-left: 120px
}

.select2-results li em {
  background: #feffde;
  font-style: normal;
}

.select2-results .select2-highlighted em {
  background: transparent;
}

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px;
}

.mkd-woocommerce-page {

  .mkd-shipping-calculator .country_to_state {
	width: 100%;
  }
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
  display: none;
}

.select2-more-results.select2-active {
  background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
}

.select2-results .select2-ajax-error {
  background: rgba(255, 50, 50, .2);
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 34px;
  user-select: none;
  -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap
}

.select2-container .select2-search--inline {
  float: left
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051
}

.select2-results {
  display: block
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0
}

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none
}

.select2-results__option[aria-selected] {
  cursor: pointer
}

.select2-container--open .select2-dropdown {
  left: 0
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.select2-search--dropdown {
  display: block;
  padding: 4px
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none
}

.select2-search--dropdown.select2-search--hide {
  display: none
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0)
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ddd;
  outline: none;
  border-radius: 4px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #555;
  line-height: 34px
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: text
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #ddd
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
  background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
  background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 34px
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
  background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
  background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #ddd;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
  background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
  background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
  background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: text;
  outline: 0
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #ddd;
  outline: 0
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none
}

.select2-container--classic .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none
}

.select2-container--classic .select2-dropdown--below {
  border-top: none
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: #fff
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb
}

.select2-container--default .select2-selection--single {
  border: 1px solid rgba(185, 192, 203, .22);
  width: 100%;
  padding: 15px 17px;
  border-radius: 0;
}

.select2-container .select2-selection--single {
  height: 55px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 20px;
  height: 55px;
  font-family: $default-font-family;
  color: #adadad;
  font-size: 16px;
  font-weight: 300;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  right: 20px;
  color: #fff;
  line-height: inherit;
  text-align: center;
  font-style: normal;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:before {
  color: #d4d4d4;
  font-size: 13px;
  content: "\e874";
  font-family: Linearicons-Free;
  line-height: 55px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #ebebeb;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparent;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #ebebeb;
  color: #4a3e5a;
}