.mkd-grid,
.mkd-container-inner,
.mkd-grid-section .mkd-section-inner,
.mkd-slider .carousel-inner .mkd-slider-content-outer {

	@include laptop-landscape {
		width: $grid-width-laptop-landscape;
	}

	@include ipad-landscape {
		width: $grid-width-ipad-landscape;
	}

	@include ipad-portrait {
		width: $grid-width-ipad-portrait;
	}

	@include phone-landscape {
		width: $grid-width-phone-landscape;
	}

	@include phone-portrait {
		width: $grid-width-phone-portrait;
	}

	@include smaller-phone-portrait {
		width: $grid-width-smaller-phone-portrait;
	}
}

//vertical menu responsive
.mkd-header-vertical .mkd-grid,
.mkd-header-vertical .mkd-container-inner,
.mkd-header-vertical .mkd-grid-section .mkd-section-inner,
.mkd-header-vertical .mkd-slider .carousel-inner .mkd-slider-content-outer{
    @include vertical-menu-laptop-wide-landscape {
        width: $grid-width-laptop-wide-landscape;
    }

    @include vertical-menu-laptop-landscape {
        width: $grid-width-laptop-landscape;
    }

    @include vertical-menu-small-laptop-landscape {
        width: $grid-width-vertical-menu-laptop-landscape;
    }

    @include vertical-menu-ipad-landscape {
        width: $grid-width-ipad-landscape;
    }

    @include ipad-portrait {
        width: $grid-width-ipad-portrait;
    }

    @include phone-landscape {
        width: $grid-width-phone-landscape;
    }

    @include phone-portrait {
        width: $grid-width-phone-portrait;
    }

    @include smaller-phone-portrait {
        width: $grid-width-smaller-phone-portrait;
    }

}

.mkd-boxed .mkd-wrapper .mkd-wrapper-inner,
.mkd-boxed .mkd-wrapper .mkd-footer-inner {

	@include laptop-landscape {
		width: $grid-width-laptop-landscape-boxed;
		max-width: 100%; //because of passepartout
	}

	@include ipad-landscape {
		width: $grid-width-ipad-landscape-boxed;
		max-width: 100%; //because of passepartout
	}

	@include ipad-portrait {
		width: $grid-width-ipad-portrait-boxed;
		max-width: 100%; //because of passepartout
	}

	@include phone-landscape {
		width: $grid-width-phone-landscape-boxed;
		max-width: 100%; //because of passepartout
	}

	@include phone-portrait {
		width: $grid-width-phone-portrait-boxed;
		max-width: 100%; //because of passepartout
	}

	@include smaller-phone-portrait {
		width: $grid-width-smaller-phone-portrait-boxed;
		max-width: 100%; //because of passepartout
	}
}

@include ipad-landscape {
	.mkd-content {
		margin-top: 0px !important;
	}
}

@include ipad-landscape {
	.mkd-two-columns-50-50 .mkd-column,
	.mkd-two-columns-66-33 .mkd-column1,
	.mkd-two-columns-66-33 .mkd-column2,
	.mkd-two-columns-33-66 .mkd-column1,
	.mkd-two-columns-33-66 .mkd-column2,
	.mkd-two-columns-25-75 .mkd-column1,
	.mkd-two-columns-25-75 .mkd-column2,
	.mkd-two-columns-75-25 .mkd-column1,
	.mkd-two-columns-75-25 .mkd-column2,
	.mkd-three-columns .mkd-column,
	.mkd-four-columns .mkd-column {
		width: 100%;
	}

	.mkd-two-columns-66-33 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-66-33 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-33-66 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-33-66 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-75-25 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-75-25 .mkd-column2 .mkd-column-inner,
	.mkd-two-columns-25-75 .mkd-column1 .mkd-column-inner,
	.mkd-two-columns-25-75 .mkd-column2 .mkd-column-inner {
		padding: 0 0 0 0;
	}

}

@include smaller-phone-portrait {
	.mkd-section-inner-margin {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@include ipad-landscape {
	.wpcf7 {
		.mkd-confirmation-form {
			.mkd-two-columns-50-50 {
				.mkd-column {
					width: 50%;
				}
			}
		}
	}
}

@include ipad-portrait {
	.wpcf7 {
		.mkd-newsletter {
			display: block;
			& > span {
				float: none;
			}

			.wpcf7-form-control {
				&.wpcf7-submit {
					float: none;
				}

				&.wpcf7-email,
				&.wpcf-text {
					border-left: 1px solid #d7dde3;;
					border-right: 1px solid #d7dde3;
				}
				&.wpcf7-email {
					&:focus {
						border-right: 1px solid #d7dde3;
					}
				}
			}

			&.transparent {
				.wpcf7-form-control {
					&.wpcf7-email,
					&.wpcf-text {
						border-left: 2px solid rgba(215, 221, 227, 0.4);
						border-right: 2px solid rgba(215, 221, 227, 0.4);
					}
				}
			}

			&.grey-skin {
				.wpcf7-form-control {
					&.wpcf7-email:focus {
						border-right: 1px solid #d7dde3;
					}
				}
			}
		}

		.mkd-confirmation-form {
			.mkd-two-columns-50-50 {
				.mkd-column {
					width: 100%;

					.mkd-column-inner,
					&:last-child,
					&:first-child {
						padding: 0 !important;
					}
				}
			}
		}
	}

}