.mkd-header-tabbed {
	.mkd-page-header {
		.mkd-menu-area {
			height: 70px;
			background-color: #fff;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);

			@include mkdBoxSizing(border-box);

			.mkd-vertical-align-containers {
				padding: 0px;
			}

			.mkd-position-center {
				position: relative;
				float: left;
				opacity: 0;
				@include mkdTransition(opacity 0.3s ease);

				&:before {
					content: normal;
					margin: 0;
				}
			}

			.mkd-position-right {
				&:before {
					content: normal;
					margin: 0;
				}
			}

			.mkd-vertical-align-containers {
				.mkd-position-center-inner {
					height: 100%;
					width: 100%;

					.mkd-main-menu {
						width: 100%;
						margin: 0;

						> ul {
							display: table;
							table-layout: fixed;
							height: 100%;
							width: 100%;

							&:before,
							&:after {
								content: normal;
							}

							> li {
								display: table-cell;
								height: 100%;
								text-align: center;
								float: none;
								border-left: 1px solid rgba(0, 0, 0, 0.1);

								@include mkdBoxSizing(border-box);

								&:last-child {
									border-right: 1px solid rgba(0, 0, 0, 0.1);
								}
							}
						}
					}
				}
			}

			.mkd-main-menu-widget-area {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			.mkd-main-menu-widget-area-inner {
				height: 100%;
			}

			.mkd-right-from-main-menu-widget {
				display: table;
				float: left;
				padding: 0 20px;
				position: relative;
				vertical-align: middle;
				height: 100%;
				border-right: 1px solid rgba(0, 0, 0, 0.1);

				&:last-child {
					border: 0;
				}

				&:not(.widget_mkd_side_area_opener):last-child {
					padding-right: 0;
				}

				.mkd-right-from-main-menu-widget-inner {
					display: table-cell;
					vertical-align: middle;
				}

			}
		}

	}

	&.mkd-light-header .mkd-menu-area {
        .mkd-right-from-main-menu-widget {
            border-right: 1px solid rgba(255, 255, 255, 0.2);

            &:before {
                background-color: rgba($header-light-color, 0.5);
            }
        }

        .mkd-vertical-align-containers {
            .mkd-position-center-inner {
                .mkd-main-menu {
                    > ul {

                        > li {

                            border-left: 1px solid rgba(255, 255, 255, 0.2);

                            &:last-child {
                                border-right: 1px solid rgba(255, 255, 255, 0.2);
                            }
                        }
                    }
                }
            }
        }
    }

	&.mkd-dark-header .mkd-menu-area .mkd-right-from-main-menu-widget:before {
		background-color: rgba($header-dark-color, 0.5);
	}

	&.mkd-header-tabbed-shadow-disable .mkd-menu-area {
		box-shadow: none;
	}
}

