.mkd-blog-holder.mkd-blog-type-masonry.mkd-masonry-full-width {
  margin: 0 12px;
}

.mkd-blog-holder.mkd-blog-type-masonry, .mkd-blog-list-holder.mkd-masonry {
  margin: 0 -12px;
}

.mkd-blog-holder.mkd-blog-type-masonry article, .mkd-blog-list-holder.mkd-masonry article {
  display: block;
  padding: 0 12px;
  text-align: left;
  vertical-align: top;
  z-index: 100;
  margin: 0 0 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-social-share-holder.mkd-dropdown .mkd-social-share-dropdown, .mkd-blog-list-holder.mkd-masonry article .mkd-social-share-holder.mkd-dropdown .mkd-social-share-dropdown {
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry article:hover, .mkd-blog-list-holder.mkd-masonry article:hover {
  z-index: 101;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-image, .mkd-blog-list-holder.mkd-masonry article .mkd-post-image {
  line-height: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-image a, .mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-image img, .mkd-blog-list-holder.mkd-masonry article .mkd-post-image a, .mkd-blog-list-holder.mkd-masonry article .mkd-post-image img {
  display: block;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-content, .mkd-blog-list-holder.mkd-masonry article .mkd-post-content {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(31, 35, 37, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(31, 35, 37, 0.1);
  box-shadow: 0 1px 1px rgba(31, 35, 37, 0.1);
  -webkit-transition: box-shadow 0.3s ease, transform 0.3s ease;
  -moz-transition: box-shadow 0.3s ease, transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-content:hover, .mkd-blog-list-holder.mkd-masonry article .mkd-post-content:hover {
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-box-shadow: 5px 8.66px 30px 0 rgba(31, 35, 37, 0.078);
  -moz-box-shadow: 5px 8.66px 30px 0 rgba(31, 35, 37, 0.078);
  box-shadow: 5px 8.66px 30px 0 rgba(31, 35, 37, 0.078);
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-text-inner, .mkd-blog-list-holder.mkd-masonry article .mkd-post-text-inner {
  padding: 21px 25px 21px;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-title, .mkd-blog-list-holder.mkd-masonry article .mkd-post-title {
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 7px;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-excerpt, .mkd-blog-list-holder.mkd-masonry article .mkd-post-excerpt {
  margin: 7px 0;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-info-category, .mkd-blog-list-holder.mkd-masonry article .mkd-post-info-category {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-info-category a, .mkd-blog-list-holder.mkd-masonry article .mkd-post-info-category a {
  margin-right: 6px;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-info, .mkd-blog-list-holder.mkd-masonry article .mkd-post-info {
  font-family: "Poppins", sans-serif;
  padding: 13px 23px 9px;
  font-weight: 500;
  line-height: 27px;
  color: #a7b0be;
  font-size: 12px;
  background-color: rgba(243, 245, 246, 0.4);
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-info a, .mkd-blog-list-holder.mkd-masonry article .mkd-post-info a {
  color: #a7b0be;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-info i, .mkd-blog-list-holder.mkd-masonry article .mkd-post-info i {
  font-size: 14px;
  padding-right: 4px;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-info > div, .mkd-blog-list-holder.mkd-masonry article .mkd-post-info > div {
  display: inline-block;
  padding-right: 23px;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-info > div.mkd-blog-share, .mkd-blog-list-holder.mkd-masonry article .mkd-post-info > div.mkd-blog-share {
  float: right;
  padding-right: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry article .mkd-post-info .mkd-post-info-comments-icon, .mkd-blog-list-holder.mkd-masonry article .mkd-post-info .mkd-post-info-comments-icon {
  position: relative;
  top: 2px;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-gallery .slick-slider, .mkd-blog-list-holder.mkd-masonry article.format-gallery .slick-slider {
  margin-bottom: 0;
  opacity: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-gallery .slick-slider .slick-prev, .mkd-blog-list-holder.mkd-masonry article.format-gallery .slick-slider .slick-prev {
  left: 0;
  right: auto;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-gallery .slick-slider .slick-next, .mkd-blog-list-holder.mkd-masonry article.format-gallery .slick-slider .slick-next {
  right: 0;
  left: auto;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-link .mkd-post-text-inner, .mkd-blog-list-holder.mkd-masonry article.format-link .mkd-post-text-inner {
  padding: 20px 30px 46px;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-link .mkd-post-text, .mkd-blog-list-holder.mkd-masonry article.format-link .mkd-post-text {
  background-color: #1c84f6;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-link .mkd-post-info-category .mkd-category-name, .mkd-blog-list-holder.mkd-masonry article.format-link .mkd-post-info-category .mkd-category-name {
  color: #fff !important;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-link .mkd-post-mark, .mkd-blog-list-holder.mkd-masonry article.format-link .mkd-post-mark {
  font-size: 30px;
  color: #fff;
  margin: 46px 0 22px;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-link .mkd-post-title, .mkd-blog-list-holder.mkd-masonry article.format-link .mkd-post-title {
  color: #fff;
  line-height: 26px;
  padding-right: 30px;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-link .mkd-post-title a, .mkd-blog-list-holder.mkd-masonry article.format-link .mkd-post-title a {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-link .mkd-post-title a:hover, .mkd-blog-list-holder.mkd-masonry article.format-link .mkd-post-title a:hover {
  color: inherit;
  opacity: 0.9;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-link .mkd-post-info, .mkd-blog-list-holder.mkd-masonry article.format-link .mkd-post-info {
  color: #fff;
  background-color: rgba(243, 245, 246, 0.1);
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-link .mkd-post-info a, .mkd-blog-list-holder.mkd-masonry article.format-link .mkd-post-info a {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-text-inner, .mkd-blog-list-holder.mkd-masonry article.format-quote .mkd-post-text-inner {
  padding: 20px 30px 46px;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-text, .mkd-blog-list-holder.mkd-masonry article.format-quote .mkd-post-text {
  background-color: #50d18e;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-info-category .mkd-category-name, .mkd-blog-list-holder.mkd-masonry article.format-quote .mkd-post-info-category .mkd-category-name {
  color: #fff !important;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-mark, .mkd-blog-list-holder.mkd-masonry article.format-quote .mkd-post-mark {
  font-size: 58px;
  color: #fff;
  margin: 25px 0 0 -15px;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-title, .mkd-blog-list-holder.mkd-masonry article.format-quote .mkd-post-title {
  color: #fff;
  margin-top: -9px;
  padding-right: 30px;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-title h2, .mkd-blog-list-holder.mkd-masonry article.format-quote .mkd-post-title h2 {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 3px;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-title a, .mkd-blog-list-holder.mkd-masonry article.format-quote .mkd-post-title a {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-title a:hover, .mkd-blog-list-holder.mkd-masonry article.format-quote .mkd-post-title a:hover {
  color: inherit;
  opacity: 0.9;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-title .quote_author, .mkd-blog-list-holder.mkd-masonry article.format-quote .mkd-post-title .quote_author {
  font-size: 13px;
  font-weight: 600;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-info, .mkd-blog-list-holder.mkd-masonry article.format-quote .mkd-post-info {
  color: #fff;
  background-color: rgba(243, 245, 246, 0.1);
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-quote .mkd-post-info a, .mkd-blog-list-holder.mkd-masonry article.format-quote .mkd-post-info a {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-video .mkd-post-image-video, .mkd-blog-list-holder.mkd-masonry article.format-video .mkd-post-image-video {
  position: relative;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-video .mkd-post-video, .mkd-blog-list-holder.mkd-masonry article.format-video .mkd-post-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-video .mkd-post-video .mkd-video-post-link, .mkd-blog-list-holder.mkd-masonry article.format-video .mkd-post-video .mkd-video-post-link {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 48px;
  color: #fff;
  height: 60px;
  width: 60px;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mkd-blog-holder.mkd-blog-type-masonry article.format-video .mkd-post-video .mkd-video-post-link span, .mkd-blog-list-holder.mkd-masonry article.format-video .mkd-post-video .mkd-video-post-link span {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 4px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mkd-blog-list-holder.mkd-masonry {
  visibility: hidden;
}

.mkd-blog-holder.mkd-blog-type-masonry article {
  width: 25%;
}

.mkd-page-content-holder.mkd-grid-col-8 .mkd-blog-holder.mkd-blog-type-masonry article, .mkd-page-content-holder.mkd-grid-col-8 .mkd-blog-holder.mkd-blog-type-masonry .mkd-blog-masonry-grid-sizer {
  width: 50%;
}

.mkd-page-content-holder.mkd-grid-col-9 .mkd-blog-holder.mkd-blog-type-masonry article, .mkd-page-content-holder.mkd-grid-col-9 .mkd-blog-holder.mkd-blog-type-masonry .mkd-blog-masonry-grid-sizer {
  width: 33.3333%;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-blog-masonry-grid-sizer {
  width: 25%;
}

.mkd-blog-holder.mkd-blog-type-masonry .mkd-blog-masonry-grid-gutter {
  width: 0;
}

.mkd-blog-list-holder.mkd-masonry article {
  width: 33.3333%;
}

.mkd-blog-list-holder.mkd-masonry.mkd-four article, .mkd-blog-list-holder.mkd-masonry.mkd-four .mkd-blog-masonry-grid-sizer {
  width: 25%;
}

.mkd-blog-list-holder.mkd-masonry .mkd-blog-masonry-grid-sizer {
  width: 33.3333%;
}

.mkd-blog-list-holder.mkd-masonry .mkd-blog-masonry-grid-gutter {
  width: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery {
  opacity: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery.mkd-appeared {
  opacity: 1;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article {
  width: 25%;
  overflow: hidden;
  visibility: hidden;
}

.touch .mkd-blog-holder.mkd-blog-type-masonry-gallery article {
  visibility: visible;
}

.no-touch .mkd-blog-holder.mkd-blog-type-masonry-gallery article {
  visibility: visible;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0;
}

.no-touch .mkd-blog-holder.mkd-blog-type-masonry-gallery article.mkd-appeared {
  -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-post-image {
  height: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-post-image a {
  display: block;
  height: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-post-image a > img {
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-post-image a:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-post-image a img {
  height: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-title-date {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  padding: 0 30px 30px 30px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-title-date a {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article .mkd-post-title a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote {
  background-color: #50d18e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-masonry-gallery-quote-author {
  display: table;
  height: 100%;
  width: 100%;
  padding: 30px 9%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-masonry-gallery-quote-author .mkd-masonry-gallery-quote-author-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-quote .mkd-masonry-gallery-quote {
  font-size: 34px;
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-link {
  background-color: #1c84f6;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-link .mkd-masonry-gallery-link {
  display: table;
  height: 100%;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-link .mkd-masonry-gallery-link .mkd-masonry-gallery-link-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-link .mkd-masonry-gallery-link .mkd-masonry-gallery-link-inner .mkd-post-title {
  color: #fff;
  font-size: 34px;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-link .mkd-masonry-gallery-link .mkd-masonry-gallery-link-inner .mkd-post-title a:hover {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-video .mkd-video-post-link {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 56px;
  color: #fff;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .mkd-blog-gallery {
  height: 100%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .mkd-slick-slider {
  opacity: 0;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .mkd-slick-slider .slick-prev {
  right: calc(100% - 57px);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .mkd-slick-slider .slick-prev:before {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .mkd-slick-slider .slick-next {
  left: calc(100% - 45px);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.format-gallery .mkd-slick-slider .slick-next:before {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article:not(.format-gallery) .mkd-post-image a:before {
  background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.88) 1%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 74%);
  background: -o-linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.88) 1%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 74%);
  background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.88) 1%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 74%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.88) 1%, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0) 74%);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article:not(.format-gallery):hover .mkd-post-image a img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery article.mkd-post-size-large-width, .mkd-blog-holder.mkd-blog-type-masonry-gallery article.mkd-post-size-large-width-height {
  width: 50%;
}

.mkd-blog-holder.mkd-blog-type-masonry-gallery .mkd-blog-masonry-gallery-grid-sizer {
  width: 25%;
}

.mkd-blog-holder.mkd-blog-type-standard {
  width: 70%;
  margin: 0 auto;
}

.mkd-grid-col-9 .mkd-blog-holder.mkd-blog-type-standard, .mkd-grid-col-8 .mkd-blog-holder.mkd-blog-type-standard {
  width: 94%;
}

.mkd-blog-holder.mkd-blog-type-standard article {
  margin-bottom: 47px;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-image {
  position: relative;
  line-height: 0;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-image a, .mkd-blog-holder.mkd-blog-type-standard article .mkd-post-image img {
  display: block;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-image:hover:before {
  opacity: 1;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-text {
  margin-top: 35px;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info-category {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info-category a {
  margin-right: 6px;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-title {
  margin-top: 14px;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-excerpt {
  margin-top: 17px;
  margin-bottom: 25px;
  font-weight: 500;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info {
  padding: 17px 0;
  border-top: 1px solid #edeff2;
  font-weight: 600;
  font-size: 12px;
  color: #ababab;
  font-family: "Poppins", sans-serif;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info a {
  color: #ababab;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info i {
  font-size: 14px;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info div {
  display: inline-block;
  vertical-align: middle;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info .mkd-avatar a {
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info .mkd-author {
  padding-left: 13px;
  color: #ababab;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info .mkd-post-info-date {
  padding-left: 22px;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info .mkd-post-info-date .mkd-date {
  padding-left: 4px;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info .mkd-post-info-date-icon {
  position: relative;
  top: 1px;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info .mkd-post-info-comments-holder {
  padding-left: 15px;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info .mkd-post-info-comments-holder .mkd-comments-number {
  padding-left: 5px;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info .mkd-post-info-comments-icon {
  position: relative;
  top: 2px;
}

.mkd-blog-holder.mkd-blog-type-standard article .mkd-post-info .mkd-social-share-holder {
  padding-left: 21px;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-gallery .mkd-slick-slider {
  opacity: 0;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-gallery .mkd-slick-slider .slick-prev {
  right: calc(100% - 65px);
}

.mkd-blog-holder.mkd-blog-type-standard article.format-gallery .mkd-slick-slider .slick-prev:before {
  content: '\e875';
  left: -13px;
  font-family: 'Linearicons-Free';
  font-size: 65px;
  line-height: 47px;
  color: #fff;
  font-weight: 400;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-gallery .mkd-slick-slider .slick-next {
  left: calc(100% - 65px);
}

.mkd-blog-holder.mkd-blog-type-standard article.format-gallery .mkd-slick-slider .slick-next:before {
  content: '\e876';
  font-family: 'Linearicons-Free';
  font-size: 65px;
  line-height: 47px;
  color: #fff;
  font-weight: 400;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-link .mkd-post-content {
  padding: 40px 45px;
  background-color: #50d18e;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08);
}

.mkd-blog-holder.mkd-blog-type-standard article.format-link .mkd-post-text {
  margin-top: 0;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-link .mkd-post-mark {
  float: left;
  font-size: 48px;
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-link .mkd-post-title {
  padding-left: 11%;
  margin-top: 10px;
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-link .mkd-post-title a {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-link .mkd-post-title a:hover {
  color: inherit;
  opacity: 0.9;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-quote .mkd-post-content {
  padding: 40px 40px 40px 24px;
  background-color: #50d18e;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.08);
}

.mkd-blog-holder.mkd-blog-type-standard article.format-quote .mkd-post-text {
  margin-top: 0;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-quote .mkd-post-mark {
  float: left;
  font-size: 93px;
  color: #fff;
  margin-top: -20px;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-quote .mkd-post-title {
  padding-left: 14%;
  margin-top: 10px;
  color: #fff;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-quote .mkd-post-title a {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.mkd-blog-holder.mkd-blog-type-standard article.format-quote .mkd-post-title a:hover {
  color: inherit;
  opacity: 0.9;
}

.mkd-blog-holder.mkd-blog-type-standard .mkd-pagination {
  margin-top: 10px;
}

.page-template-blog-split .mkd-content .mkd-content-inner > .mkd-full-width > .mkd-full-width-inner {
  padding: 0;
}

.mkd-blog-split-holder {
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
}

.mkd-blog-split-holder .mkd-blog-split-title-subtitle {
  width: 44.4%;
  position: fixed;
  left: 2.8%;
  bottom: 6%;
}

.mkd-blog-split-holder .mkd-blog-split-title-subtitle .mkd-blog-split-title {
  font-size: 24px;
  float: left;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding: 14px 17px 11px;
  clear: both;
}

.mkd-blog-split-holder .mkd-blog-split-title-subtitle .mkd-blog-split-subtitle {
  float: left;
  color: #fff;
  background-color: #000;
  margin-top: 0;
  margin-bottom: 0;
  padding: 22px 17px 25px;
  clear: both;
}

.mkd-blog-holder.mkd-blog-type-split {
  width: 50%;
  float: right;
  background-color: #fff;
  padding: 59px 150px 100px 123px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkd-blog-holder.mkd-blog-type-split article {
  padding-top: 50px;
  opacity: 0;
  width: calc(100% - 273px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.6s 0.3s ease, transform 0.6s 0.3s ease;
  -moz-transition: opacity 0.6s 0.3s ease, transform 0.6s 0.3s ease;
  transition: opacity 0.6s 0.3s ease, transform 0.6s 0.3s ease;
}

.mkd-blog-holder.mkd-blog-type-split article:first-child {
  padding-top: 0;
}

.mkd-blog-holder.mkd-blog-type-split article.appeared {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.mkd-blog-holder.mkd-blog-type-split .mkd-post-excerpt {
  margin-top: 20px;
  color: #737c8b;
}

.mkd-blog-holder.mkd-blog-type-split .mkd-post-info {
  margin-top: 20px;
  font-weight: 600;
  color: #ababab;
}

.mkd-blog-holder.mkd-blog-type-split .mkd-post-info .mkd-post-info-date-icon {
  display: none;
}

.mkd-blog-holder.mkd-blog-type-split .mkd-post-info .mkd-date {
  font-family: "Poppins", sans-serif;
}

.mkd-blog-holder article.sticky .mkd-post-title a {
  color: #50d18e;
}

.mkd-filter-blog-holder {
  text-align: center;
  margin-bottom: 30px;
}

.mkd-filter-blog-holder li {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 15px;
}

.mkd-filter-blog-holder li.mkd-active {
  color: #50d18e;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard > article, .mkd-blog-holder.mkd-blog-single.mkd-blog-standard > div {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.mkd-grid-col-9 .mkd-blog-holder.mkd-blog-single.mkd-blog-standard > article, .mkd-grid-col-8 .mkd-blog-holder.mkd-blog-single.mkd-blog-standard > article, .mkd-grid-col-9 .mkd-blog-holder.mkd-blog-single.mkd-blog-standard > div, .mkd-grid-col-8 .mkd-blog-holder.mkd-blog-single.mkd-blog-standard > div {
  width: 100%;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-post-image img {
  display: block;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-post-title {
  font-size: 24px;
  margin-top: 38px;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-post-info {
  margin-top: 15px;
  margin-bottom: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ababab;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-post-info > div {
  display: inline-block;
  padding-right: 13px;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-post-info .mkd-date {
  font-size: 12px;
  padding-left: 5px;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-post-info .mkd-post-info-category i {
  padding-right: 2px;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-post-info .mkd-post-info-category a {
  font-size: 12px;
  text-transform: uppercase;
  color: #ababab;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-tags a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 600;
  padding: 0px 16px;
  background-color: #f5f5f5;
  border: 1px solid #dee0e2;
  height: 29px;
  line-height: 31px;
  margin-right: 10px;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-tags-share-holder {
  margin-top: 45px;
  margin-bottom: 55px;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-tags-share-holder .mkd-single-tags-holder {
  float: left;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-tags-share-holder .mkd-share-icons-single {
  float: right;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-tags-share-holder .mkd-share-icons-single a {
  color: #a1a1a1;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-tags-share-holder .mkd-share-icons-single a:hover {
  color: #828181;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-tags-share-holder .mkd-share-icons-single .mkd-share-label {
  display: inline-block;
  text-transform: uppercase;
  color: #a1a1a1;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .mkd-tags-share-holder .mkd-share-icons-single .mkd-social-share-holder {
  display: inline-block;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-link {
  background-color: #1c84f6;
  position: relative;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-link .mkd-post-mark {
  position: absolute;
  top: 50%;
  width: 135px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-link .mkd-post-mark span {
  color: #fff;
  font-size: 48px;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-link .mkd-post-title {
  padding-left: 135px;
  padding-right: 30px;
  margin-top: 63px;
  margin-bottom: 63px;
  color: #fff;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-link .mkd-post-title:hover {
  opacity: 0.85;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-link .mkd-post-link .mkd-post-title a:hover {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-quote .mkd-post-quote {
  background-color: #50d18e;
  position: relative;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-quote .mkd-post-quote .mkd-post-mark {
  position: absolute;
  top: 50%;
  width: 135px;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-quote .mkd-post-quote .mkd-post-mark span {
  color: #fff;
  font-size: 93px;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-quote .mkd-post-quote .mkd-post-title {
  padding-left: 135px;
  padding-right: 30px;
  margin-top: 63px;
  margin-bottom: 63px;
  color: #fff;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-quote .mkd-post-quote .mkd-post-title:hover {
  opacity: 0.85;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-quote .mkd-post-quote .mkd-post-title a:hover {
  color: #fff;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-gallery .mkd-slick-slider {
  opacity: 0;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-gallery .mkd-slick-slider .slick-prev {
  right: calc(100% - 65px);
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-gallery .mkd-slick-slider .slick-prev:before {
  content: '\e875';
  left: -13px;
  font-family: 'Linearicons-Free';
  font-size: 65px;
  line-height: 47px;
  color: #fff;
  font-weight: 400;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-gallery .mkd-slick-slider .slick-next {
  left: calc(100% - 65px);
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-standard .format-gallery .mkd-slick-slider .slick-next:before {
  content: '\e876';
  font-family: 'Linearicons-Free';
  font-size: 65px;
  line-height: 47px;
  color: #fff;
  font-weight: 400;
}

body.single-post .mkd-container > .mkd-post-image-title {
  position: relative;
  text-align: center;
  padding: 14% 0;
  background-size: cover;
}

body.single-post .mkd-container > .mkd-post-image-title.left {
  text-align: right;
}

body.single-post .mkd-container > .mkd-post-image-title.right {
  text-align: left;
}

body.single-post .mkd-container > .mkd-post-image-title .mkd-post-image-title-overlay {
  background-color: #333232;
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body.single-post .mkd-container > .mkd-post-image-title .mkd-post-image-title-inner {
  position: relative;
  z-index: 11;
}

body.single-post .mkd-container > .mkd-post-image-title .mkd-post-title {
  font-size: 72px;
  color: #fff;
  margin-top: 16px;
}

@media only screen and (max-width: 768px) {
  body.single-post .mkd-container > .mkd-post-image-title .mkd-post-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 480px) {
  body.single-post .mkd-container > .mkd-post-image-title .mkd-post-title {
    font-size: 32px;
  }
}

body.single-post .mkd-container > .mkd-post-image-title .mkd-post-info {
  margin-top: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
}

body.single-post .mkd-container > .mkd-post-image-title .mkd-post-info i {
  color: #ababab;
  padding-right: 6px;
  font-size: 16px;
}

body.single-post .mkd-container > .mkd-post-image-title .mkd-post-info > div {
  display: inline-block;
  padding-right: 10px;
}

body.single-post .mkd-container > .mkd-post-image-title .mkd-post-info .mkd-post-info-category a {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-image-title > article, .mkd-blog-holder.mkd-blog-single.mkd-blog-image-title > div {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.mkd-grid-col-9 .mkd-blog-holder.mkd-blog-single.mkd-blog-image-title > article, .mkd-grid-col-8 .mkd-blog-holder.mkd-blog-single.mkd-blog-image-title > article, .mkd-grid-col-9 .mkd-blog-holder.mkd-blog-single.mkd-blog-image-title > div, .mkd-grid-col-8 .mkd-blog-holder.mkd-blog-single.mkd-blog-image-title > div {
  width: 100%;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-image-title .mkd-tags a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 600;
  padding: 0px 16px;
  background-color: #f5f5f5;
  border: 1px solid #a1a1a1;
  height: 29px;
  line-height: 31px;
  margin-right: 10px;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-image-title .mkd-tags-share-holder {
  margin-top: 33px;
  margin-bottom: 55px;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-image-title .mkd-tags-share-holder .mkd-single-tags-holder {
  float: left;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-image-title .mkd-tags-share-holder .mkd-share-icons-single {
  float: right;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-image-title .mkd-tags-share-holder .mkd-share-icons-single a {
  color: #a1a1a1;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-image-title .mkd-tags-share-holder .mkd-share-icons-single a:hover {
  color: #828181;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-image-title .mkd-tags-share-holder .mkd-share-icons-single .mkd-share-label {
  display: inline-block;
  text-transform: uppercase;
  color: #a1a1a1;
}

.mkd-blog-holder.mkd-blog-single.mkd-blog-image-title .mkd-tags-share-holder .mkd-share-icons-single .mkd-social-share-holder {
  display: inline-block;
}

.mkd-author-description {
  margin: 70px 0 0 0;
}

.mkd-author-description .mkd-author-description-image {
  width: 102px;
  float: left;
}

.mkd-author-description .mkd-author-description-text-holder {
  padding-left: 122px;
}

.mkd-author-description .mkd-author-description-text-holder .mkd-author-name {
  margin-top: 0;
}

.mkd-author-description .mkd-author-description-text-holder .mkd-author-social-holder > a {
  margin-right: 8px;
}

.mkd-related-posts-holder {
  margin: 50px 0;
}

.mkd-related-posts-inner {
  margin: 0 -12px;
}

.mkd-related-posts-holder .mkd-related-post {
  float: left;
  width: 25%;
  padding: 0 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkd-related-posts-holder .mkd-related-post a {
  display: block;
}

.mkd-blog-single-navigation {
  border-top: 1px solid #eaecef;
  padding: 28px 0;
  margin-top: 115px;
}

.mkd-blog-single-navigation .mkd-single-nav-image-holder {
  width: 58px;
}

.mkd-blog-single-navigation .mkd-single-nav-image-holder a, .mkd-blog-single-navigation .mkd-single-nav-image-holder img {
  display: block;
}

.mkd-blog-single-navigation .mkd-blog-single-prev, .mkd-blog-single-navigation .mkd-blog-single-next {
  width: 50%;
}

.mkd-blog-single-navigation .mkd-blog-single-prev {
  float: left;
}

.mkd-blog-single-navigation .mkd-blog-single-prev .mkd-single-nav-image-holder, .mkd-blog-single-navigation .mkd-blog-single-prev .mkd-single-nav-content-holder {
  float: left;
}

.mkd-blog-single-navigation .mkd-blog-single-prev .mkd-single-nav-content-holder {
  padding-left: 19px;
}

.mkd-blog-single-navigation .mkd-blog-single-next {
  float: right;
}

.mkd-blog-single-navigation .mkd-blog-single-next .mkd-single-nav-image-holder, .mkd-blog-single-navigation .mkd-blog-single-next .mkd-single-nav-content-holder {
  float: right;
}

.mkd-blog-single-navigation .mkd-blog-single-next .mkd-single-nav-content-holder {
  padding-right: 19px;
}

.mkd-blog-single-navigation .mkd-navigation-post-title {
  margin-top: 0;
  margin-bottom: 3px;
}

.mkd-blog-single-navigation .mkd-navigation-post-date {
  color: #ababab;
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/* ==========================================================================
   #Self Hosted Video styles - start
   ========================================================================== */
.mkd-blog-holder article .mkd-audio-image-holder,
.mkd-blog-list-holder article .mkd-audio-image-holder {
  position: relative;
}

.mkd-blog-holder article .mkd-audio-image-holder .mkd-audio-player-holder,
.mkd-blog-list-holder article .mkd-audio-image-holder .mkd-audio-player-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mkd-blog-holder article .mkd-audio-image-holder .mkd-audio-player-holder .mejs-container, .mkd-blog-holder article .mkd-audio-image-holder .mkd-audio-player-holder .mejs-embed, .mkd-blog-holder article .mkd-audio-image-holder .mkd-audio-player-holder .mejs-embed body, .mkd-blog-holder article .mkd-audio-image-holder .mkd-audio-player-holder .mejs-container .mejs-controls,
.mkd-blog-list-holder article .mkd-audio-image-holder .mkd-audio-player-holder .mejs-container,
.mkd-blog-list-holder article .mkd-audio-image-holder .mkd-audio-player-holder .mejs-embed,
.mkd-blog-list-holder article .mkd-audio-image-holder .mkd-audio-player-holder .mejs-embed body,
.mkd-blog-list-holder article .mkd-audio-image-holder .mkd-audio-player-holder .mejs-container .mejs-controls {
  background-color: rgba(0, 0, 0, 0.2);
}

.mkd-blog-holder article .mkd-audio-image-holder .mkd-audio-player-holder .mejs-container .mejs-controls,
.mkd-blog-list-holder article .mkd-audio-image-holder .mkd-audio-player-holder .mejs-container .mejs-controls {
  height: 38px !important;
}

.mkd-self-hosted-video-holder .mkd-video-wrap .mejs-container,
.mkd-self-hosted-video-holder .mkd-video-wrap .mejs-overlay-play {
  height: 100% !important;
  /*!important because of the inline style*/
  width: 100% !important;
  /*!important because of the inline style*/
}

.mejs-container {
  height: 38px !important;
}

.mejs-container * {
  font-family: "Raleway", sans-serif;
}

.mejs-container .mejs-controls {
  height: 38px;
  visibility: visible !important;
  opacity: 1 !important;
}

.mejs-container .mejs-controls div {
  height: 38px;
  text-align: center;
  line-height: 40px;
}

.mejs-controls .mejs-button button {
  background: none;
  font-family: 'ElegantIcons';
  color: #fff;
  margin: 0;
  height: 100%;
  position: static;
  width: auto;
  display: inline-block;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.mejs-controls .mejs-button button:hover {
  color: #50d18e;
}

.mejs-controls .mejs-button button:focus {
  outline: none;
}

.mejs-container .mejs-controls .mejs-playpause-button {
  width: 46px;
}

.mejs-controls .mejs-play button {
  font-family: 'ElegantIcons';
  font-size: 18px;
  color: #4fbf70;
}

.mejs-controls .mejs-play button:after {
  content: "\49";
}

.mejs-controls .mejs-pause button {
  font-family: 'ElegantIcons';
  font-size: 18px;
}

.mejs-controls .mejs-pause button:after {
  content: "\5f";
}

.mejs-controls .mejs-mute button {
  font-family: 'ElegantIcons';
  font-size: 15px;
}

.mejs-controls .mejs-mute button:after {
  content: "\7a";
}

.mejs-controls .mejs-unmute button {
  font-family: 'ElegantIcons';
  font-size: 13px;
}

.mejs-controls .mejs-unmute button:after {
  content: "\78";
}

.mejs-container .mejs-controls .mejs-fullscreen-button {
  width: 32px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button button {
  font-size: 13px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button button:after {
  content: "\30";
}

.mejs-container .mejs-controls .mejs-time {
  height: 39px;
  padding: 0;
  width: 35px;
  font-size: 12px;
  font-weight: 600;
}

.mejs-controls div.mejs-time-rail {
  padding-top: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
  display: none !important;
}

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  height: 6px;
  background-color: #fff;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
  margin-top: 17px;
}

.mejs-controls .mejs-time-rail .mejs-time-current:after {
  content: '';
  height: 9px;
  width: 9px;
  background-color: #50d18e;
  position: absolute;
  bottom: 50%;
  right: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
  height: 6px;
  background-color: #d6dbdd;
}

.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #50d18e;
  height: 6px;
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/blog.css.map */
