/* ==========================================================================
# Footer style - begin
========================================================================== */

footer {
	display: block;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	position: relative;
	color: #fff;
	@include mkdBoxSizing(border-box);

	.mkd-footer-inner {
		position: relative; /* for triangle back to top and ajax transitions */
	}

	.mkd-container {
		background-color: inherit;
	}

	.mkd-container-inner {
		position: relative;
	}

	.mkd-container-inner > .widget {
		text-align: center;
	}

	a {
		text-decoration: none;
	}

	.mkd-footer-ingrid-border-holder-outer {
		background-color: #393939;
	}

	.mkd-footer-top-border-holder,
	.mkd-footer-bottom-border-holder {
		position: relative;
		display: block;
		width: 100%;
	}

	.mkd-footer-top-border-holder.mkd-in-grid,
	.mkd-footer-bottom-border-holder.mkd-in-grid {
		width: 1100px;
		margin: 0 auto;
	}

	.mkd-footer-top-holder {
		display: block;
		background-color: #202023;
		position: relative;
		background-position: center center;
		background-size: cover;
	}

	body.mkd-footer-with-bg-image & {
		background-size: cover;
		background-repeat: no-repeat;

		.mkd-footer-top-holder,
		.mkd-footer-bottom-holder {
			background-color: transparent;
		}
	}

	.mkd-icon-list-item .mkd-icon-list-text {
		font-size: 12px;
		font-weight: 600;
	}

	.mkd-footer-top:not(.mkd-footer-top-full) .mkd-container-inner {
		padding: 80px 0 80px;
	}

	.mkd-footer-top.mkd-footer-top-full {
		padding: 80px 25px 70px;
	}

	.mkd-footer-top.mkd-footer-top-aligment-center {
		text-align: center;
	}
	.mkd-footer-top.mkd-footer-top-aligment-left {
		text-align: left;
	}
	.mkd-footer-top.mkd-footer-top-aligment-right {
		text-align: right;
	}

	.mkd-footer-bottom-holder {
		display: table;
		width: 100%;
		background-color: #222225;
		color: #fff;
		vertical-align: middle;
		text-align: center;
		height: 60px;
		position: relative;
		.mkd-footer-bottom-holder-inner {
			display: table-cell;
			vertical-align: middle;
			&:before {
				content: '';
				position: absolute;
				width: calc(100% - 90px); //45px from left and right side
				height: 2px;
				top: 0;
				left: 45px;
				background-color: #373739;
				display: none;
			}
		}

		&.mkd-footer-bottom-enable-border {
			.mkd-footer-bottom-holder-inner {
				padding: 10px 0;

				&:before {
					display: block;
				}
			}
		}

		.mkd-footer-bottom-left {
			text-align: left;
		}

		.mkd-footer-bottom-right {
			text-align: right;
		}
		.mkd-column-inner {
			text-align: center;
			vertical-align: middle;
		}

		.mkd-container-inner {

			.textwidget {
				font-size: 13px;
			}
		}

		.mkd-three-columns .mkd-column:first-child .mkd-column-inner {
			text-align: left;
		}

		.mkd-three-columns .mkd-column:last-child .mkd-column-inner {
			text-align: right;
		}

		.mkd-two-columns-50-50 .mkd-column:first-child .mkd-column-inner {
			text-align: left;
		}

		.mkd-two-columns-50-50 .mkd-column:last-child .mkd-column-inner {
			text-align: right;
		}

		.mkd-footer-bottom-border-bottom-holder {
			clear: both;
		}

	}
}

/* Footer uncover - begin
========================================================================== */

footer.mkd-footer-uncover {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	@include mkdTransition(left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1));

	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz {
		transform: none;
	}

}

.mkd-right-side-menu-opened footer.mkd-footer-uncover {
	left: -270px;
}

/* Footer uncover - end
========================================================================== */

/* Footer boxed - begin
========================================================================== */

.boxed footer {
	width: 100% !important;

	@include mkdBoxSizing(border-box);
}

/* Footer boxed - end
========================================================================== */

/* Footer disabled - begin
========================================================================== */

footer.mkd-disable-footer {
	display: none;
}

/* Footer disabled - end
========================================================================== */

/* ==========================================================================
# Footer style - end
========================================================================== */

/* ==========================================================================
# Footer widgets - begin
========================================================================== */

footer .mkd-footer-top-holder .widget,
footer .mkd-footer-bottom-holder .widget {

	&.widget_archive ul li a,
	&.widget_pages ul li a,
	&.widget_meta ul li a,
	&.widget_nav_menu ul li a {
		padding-bottom: 6px;
		padding-top: 6px;
	}

	ul li a {
		font-weight: 400;
		display: inline-block;
		font-size: 16px;
		color: #c8c8c8;
		font-family: $headings-font-family;
		@include mkdTransition(color 0.2s ease-out);

		&:hover {
			color: $first-main-color;
		}
	}

	.mkd-footer-widget-title {
		color: #fff;
		margin-top: 3px;
		margin-bottom: 31px;
	}

	.mkd-widget-title {
		color: #fff;
		margin-top: 3px;
		margin-bottom: 31px;
	}

	ul {
		list-style: none;

		li {
			color: #fff;
			font-family: $headings-font-family;

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	select,
	input[type="text"] {
		width: 100%;
		overflow: hidden;
		padding: 0 18px;
		height: 51px;
		outline: none;
		color: #7f8385;
		font-family: inherit;

		@include mkdBoxSizing(border-box);
	}

	&.widget_categories {

		h4 {
			margin-bottom: 10px;
		}

		ul li {
			position: relative;
		}

		ul {
			list-style: none;
			margin-top: 0;
		}

		ul li a {
			display: inline-block;
			padding-bottom: 3px;
			padding-top: 3px;
			font-family: $headings-font-family;
		}

	}

	&.widget_nav_menu {
		.mkd-widget-title {
			margin-bottom: 34px;
		}
	}

	.searchform {
		position: relative;
	    width: 250px;

		input[type=text] {
			width: 100%;
			border: 1px solid #494d55;

			@include mkdBorderRadius(37px);
			@include mkdTransition(border-color 0.3s ease);

			&:hover, 
			&:focus {
				border-color: #fff;
			}
		}

		input[type=submit] {
			position: absolute;
			right: 0;
		}
	}

	&.widget_product_tag_cloud .tagcloud a,
	&.widget_tag_cloud .tagcloud a {
		font-size: 12px !important;
		display: inline-block;
		font-family: $headings-font-family;
		text-transform: capitalize;
		font-weight: 400;
		color: #fff;
		padding: 0 18px;
		margin-bottom: 5px;
		border: 1px solid #535353;
		background-color: #535353;

		@include mkdBorderRadius(15px);
		@include mkdTransition(background-color .2s ease-out, border .2s ease-out);

		&:hover {
			background-color: #323232;
			border: 1px solid #323232;
		}
	}

	&.widget_tag_cloud h4 {
		margin-bottom: 20px;
		margin-top: 35px;
	}

	&.widget_search input[type=text],
	&.widget_text select {
		overflow: hidden;
		padding: 0 45px;
		height: 37px;
		background-color: transparent;
		outline: none;
		color: #979797;
		font-family: inherit;
		float: left;

		@include mkdBorderRadius(30px);
		@include mkdBoxSizing(border-box);
		&::-webkit-input-placeholder {
			color: #979797;
		}

		&:-moz-placeholder {
			/* Firefox 18- */
			color: #979797;
		}

		&::-moz-placeholder {
			/* Firefox 19+ */
			color: #979797;
		}

		&:-ms-input-placeholder {
			color: #979797;
		}
	}

	&.widget_product_search input[type=submit],
	&.widget_search input[type=submit] {
		border: none;
		outline: 0;
		position: absolute;
		left: 0;
		background-color: transparent;
		font-family: 'Simple-Line-Icons';
		height: 37px;
		width: 37px;
		padding: 0 14px;
		cursor: pointer;
		color: #a7b0be;
		font-size: 16px;
	}

	&.widget_categories ul li a {
		font-family: $headings-font-family;
	}

	&.widget_recent_comments li.recentcomments {
		padding-top: 3px;
		padding-bottom: 3px;
	}

	&.widget_rss ul li {
		padding-bottom: 3px;
		padding-top: 3px;
	}
	.select2-container .select2-choice {
		color: #979797;

		.select2-arrow {
			color: #979797;
		}

		&:hover {
			color: #b1b1b1;

			.select2-arrow {
				color: #b1b1b1;
			}
		}
	}

	&.widget_mkd_twitter_widget {

		h5 {
			margin-bottom: 26px;
		}

		.mkd-tweet-icon {
			display: inline-block;
			color: #fff;
			float: left;
			font-size: 18px;
		}

		.mkd-tweet-holder,
		.mkd_tweet_time {
			margin-left: 41px;
			line-height: 23px;
		}

		ul.mkd_twitter_widget li {
			margin-bottom: 25px;
			padding-bottom: 25px;
		}

		.mkd_tweet_text {
			font-size: 15px;
			color: #bdbdbd;

			a {
				color: #bdbdbd;
			}
		}
	}

}

footer .mkd-footer-top-holder {
	.widget {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}


	}
}

footer .mkd-footer-bottom-holder {
	.mkd-left {
		text-align: left;
	}

	.mkd-right {
		text-align: right;
	}

	.widget {
		margin: 10px 0;

		.mkd-footer-widget-title {
			color: #7f8385;
		}

		ul {
			list-style-type: none;
		}
		.select2-container .select2-choice {
			color: #979797;

			.select2-arrow {
				color: #979797;
			}

			&:hover {
				color: #b1b1b1;

				.select2-arrow {
					color: #b1b1b1;
				}
			}
		}
	}
}

/* ==========================================================================
# Footer widgets - end
========================================================================== */

